{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "DCR Api",
    "version" : "2.0"
  },
  "servers" : [ {
    "url" : "https://sp.auth.adobe.com/api/o"
  } ],
  "tags" : [ {
    "description" : "Client Registration O Auth 2 Controller",
    "name" : "client-registration-o-auth-2-controller"
  } ],
  "paths" : {
    "/client/register" : {
      "post" : {
        "description" : "Get client credentials for a software statement and get scopes information",
        "operationId" : "processSoftwareStatementUsingPOST",
        "parameters" : [ {
          "description" : "application/json",
          "in" : "header",
          "name" : "Content-Type",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The device information as defined in Passing Device and Connection Information",
          "in" : "header",
          "name" : "X-Device-Info",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The user agent",
          "in" : "header",
          "name" : "User-Agent",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ClientRegistrationRequest"
              }
            }
          },
          "description" : "The software statement created in TVE Dashboard and the URI that the application uses for completing the authentication flow can optionally be present.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : { },
            "description" : "The request was executed successfully - additional information can be found in the response body."
          },
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClientApplication"
                }
              }
            },
            "description" : "Created"
          },
          "400" : {
            "content" : { },
            "description" : "Bad request"
          }
        },
        "summary" : "Register client application",
        "tags" : [ "Client Registration" ],
        "x-codegen-request-body-name" : "clientRegistrationRequest"
      }
    },
    "/client/token" : {
      "post" : {
        "description" : "Get access token for a pair of client credentials",
        "operationId" : "generateAccessTokenUsingPOST",
        "parameters" : [ {
          "description" : "Client identifier obtained in the client registration process.",
          "in" : "query",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Client identifier obtained in the client registration process.",
          "in" : "query",
          "name" : "client_secret",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The token used to refresh the access token.",
          "in" : "query",
          "name" : "refresh_token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Received in the client registration process. The accepted value is: client_credentials: Used for insecure clients, such as the Android SDK.",
          "in" : "query",
          "name" : "grant_type",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : { },
            "description" : "The request was executed successfully - additional information can be found in the response body."
          },
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClientRegistrationAccessTokenResponse"
                }
              }
            },
            "description" : "Created"
          },
          "400" : {
            "content" : { },
            "description" : "Bad request"
          }
        },
        "summary" : "Retrieve client token",
        "tags" : [ "Client Registration" ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ClientRegistrationRequest" : {
        "properties" : {
          "software_statement" : {
            "type" : "string"
          },
          "redirect_uri" : {
            "type" : "string"
          }
        },
        "required" : [ "redirect_uri", "software_statement" ],
        "type" : "object"
      }
    }
  },
  "x-original-swagger-version" : "2.0"
}