{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Identity API",
    "version" : "V2"
  },
  "servers" : [ {
    "url" : "https://sp.auth.adobe.com/api/v2"
  } ],
  "tags" : [ {
    "description" : "It can be used to handle service token.",
    "name" : "Service Token Identity Controller"
  }, {
    "description" : "It can be used to verify service token identity.",
    "name" : "Platform Identity Controller"
  } ],
  "paths" : {
    "/identities" : {
      "get" : {
        "description" : "Checks if the received service token identity (via the Adobe-Subject-Token header) is valid and returns information extracted from the jwt payload",
        "operationId" : "verifyUsingGET",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/PlatformIdentity"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "OK"
          },
          "302" : {
            "content" : { },
            "description" : "Redirect. The response contains a location redirect to continue the flow until reaching the MVPD login page."
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request was invalid. Check the JSON-based error information provided in the response body."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is not valid, the client application needs to obtain a new one using the information from dynamic client registration process."
          },
          "404" : {
            "content" : { },
            "description" : "Not found. There is no authentication session found on Adobe Primetime Authentication backend."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed.The client tried to use an HTTP methods that the specified resource doesn't allow."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. Something is broken on Adobe Primetime Authentication services side. The JSON-based error information provided in the response body will explain further."
          }
        },
        "summary" : "Verify the service token identity",
        "tags" : [ "Platform Identity Controller" ]
      },
      "post" : {
        "description" : "Checks if the received service token identity (via the Adobe-Subject-Token header) is valid and returns information extracted from the jwt payload",
        "operationId" : "verifyUsingPOST",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/PlatformIdentity"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "OK"
          },
          "302" : {
            "content" : { },
            "description" : "Redirect. The response contains a location redirect to continue the flow until reaching the MVPD login page."
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request was invalid. Check the JSON-based error information provided in the response body."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is not valid, the client application needs to obtain a new one using the information from dynamic client registration process."
          },
          "404" : {
            "content" : { },
            "description" : "Not found. There is no authentication session found on Adobe Primetime Authentication backend."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed.The client tried to use an HTTP methods that the specified resource doesn't allow."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. Something is broken on Adobe Primetime Authentication services side. The JSON-based error information provided in the response body will explain further."
          }
        },
        "summary" : "Verify the service token identity",
        "tags" : [ "Platform Identity Controller" ]
      }
    },
    "/identities/certificates" : {
      "get" : {
        "description" : "Returns the full list of public certificates that can be used to encrypt the jwt platform identity payload",
        "operationId" : "getCertificatesUsingGET",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/CertificateInfo"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "OK"
          },
          "302" : {
            "content" : { },
            "description" : "Redirect. The response contains a location redirect to continue the flow until reaching the MVPD login page."
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request was invalid. Check the JSON-based error information provided in the response body."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is not valid, the client application needs to obtain a new one using the information from dynamic client registration process."
          },
          "404" : {
            "content" : { },
            "description" : "Not found. There is no authentication session found on Adobe Primetime Authentication backend."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed.The client tried to use an HTTP methods that the specified resource doesn't allow."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. Something is broken on Adobe Primetime Authentication services side. The JSON-based error information provided in the response body will explain further."
          }
        },
        "summary" : "Get certificates",
        "tags" : [ "Platform Identity Controller" ]
      }
    },
    "/identities/certificates/{sn}" : {
      "get" : {
        "description" : "Returns the list of public certificates matching a serial number that can be used to encrypt the jwt platform identity payload",
        "operationId" : "getCertificateBySerialNumberUsingGET_1",
        "parameters" : [ {
          "description" : "sn",
          "in" : "path",
          "name" : "sn",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "description" : "OK"
          },
          "302" : {
            "content" : { },
            "description" : "Redirect. The response contains a location redirect to continue the flow until reaching the MVPD login page."
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request was invalid. Check the JSON-based error information provided in the response body."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is not valid, the client application needs to obtain a new one using the information from dynamic client registration process."
          },
          "404" : {
            "content" : { },
            "description" : "Not found. There is no authentication session found on Adobe Primetime Authentication backend."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed.The client tried to use an HTTP methods that the specified resource doesn't allow."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. Something is broken on Adobe Primetime Authentication services side. The JSON-based error information provided in the response body will explain further."
          }
        },
        "summary" : "Get certificates by serial number",
        "tags" : [ "Platform Identity Controller" ]
      }
    },
    "/identities/servicetoken" : {
      "get" : {
        "description" : "Checks if the received service token identity (via the AD-Service-Token header) is valid and returns information extracted from the jwt payload",
        "operationId" : "verifyUsingGET_2",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/ServiceTokenIdentity"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "OK"
          },
          "302" : {
            "content" : { },
            "description" : "Redirect. The response contains a location redirect to continue the flow until reaching the MVPD login page."
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request was invalid. Check the JSON-based error information provided in the response body."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is not valid, the client application needs to obtain a new one using the information from dynamic client registration process."
          },
          "404" : {
            "content" : { },
            "description" : "Not found. There is no authentication session found on Adobe Primetime Authentication backend."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed.The client tried to use an HTTP methods that the specified resource doesn't allow."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. Something is broken on Adobe Primetime Authentication services side. The JSON-based error information provided in the response body will explain further."
          }
        },
        "summary" : "Verify the service token identity",
        "tags" : [ "Service Token Identity Controller" ]
      },
      "post" : {
        "description" : "Checks if the received service token identity (via the AD-Service-Token header) is valid and returns information extracted from the jwt payload",
        "operationId" : "verifyUsingPOST_2",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/ServiceTokenIdentity"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "OK"
          },
          "302" : {
            "content" : { },
            "description" : "Redirect. The response contains a location redirect to continue the flow until reaching the MVPD login page."
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request was invalid. Check the JSON-based error information provided in the response body."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is not valid, the client application needs to obtain a new one using the information from dynamic client registration process."
          },
          "404" : {
            "content" : { },
            "description" : "Not found. There is no authentication session found on Adobe Primetime Authentication backend."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed.The client tried to use an HTTP methods that the specified resource doesn't allow."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. Something is broken on Adobe Primetime Authentication services side. The JSON-based error information provided in the response body will explain further."
          }
        },
        "summary" : "Verify the service token identity",
        "tags" : [ "Service Token Identity Controller" ]
      }
    },
    "/identities/servicetoken/certificates" : {
      "get" : {
        "description" : "Returns the full list of public certificates that can be used to encrypt the jwt service token identity payload",
        "operationId" : "getCertificatesUsingGET_4",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/CertificateInfo"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "OK"
          },
          "302" : {
            "content" : { },
            "description" : "Redirect. The response contains a location redirect to continue the flow until reaching the MVPD login page."
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request was invalid. Check the JSON-based error information provided in the response body."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is not valid, the client application needs to obtain a new one using the information from dynamic client registration process."
          },
          "404" : {
            "content" : { },
            "description" : "Not found. There is no authentication session found on Adobe Primetime Authentication backend."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed.The client tried to use an HTTP methods that the specified resource doesn't allow."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. Something is broken on Adobe Primetime Authentication services side. The JSON-based error information provided in the response body will explain further."
          }
        },
        "summary" : "Get certificates",
        "tags" : [ "Service Token Identity Controller" ]
      }
    },
    "/identities/servicetoken/certificates/{sn}" : {
      "get" : {
        "description" : "Returns the list of public certificates matching a serial number that can be used to encrypt the jwt service token identity payload",
        "operationId" : "getCertificateBySerialNumberUsingGET_2",
        "parameters" : [ {
          "description" : "sn",
          "in" : "path",
          "name" : "sn",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "description" : "OK"
          },
          "302" : {
            "content" : { },
            "description" : "Redirect. The response contains a location redirect to continue the flow until reaching the MVPD login page."
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request was invalid. Check the JSON-based error information provided in the response body."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is not valid, the client application needs to obtain a new one using the information from dynamic client registration process."
          },
          "404" : {
            "content" : { },
            "description" : "Not found. There is no authentication session found on Adobe Primetime Authentication backend."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed.The client tried to use an HTTP methods that the specified resource doesn't allow."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. Something is broken on Adobe Primetime Authentication services side. The JSON-based error information provided in the response body will explain further."
          }
        },
        "summary" : "Get certificates by serial number",
        "tags" : [ "Service Token Identity Controller" ]
      }
    },
    "/identities/{issuer}/certificates" : {
      "get" : {
        "description" : "Exposes the certificates which can be used to encrypt platform identity issued by a partner. Currently we are going to return only the first certificate in the list.",
        "operationId" : "getCertificatesUsingGET_2",
        "parameters" : [ {
          "description" : "issuer",
          "in" : "path",
          "name" : "issuer",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/CertificateInfo"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "OK"
          },
          "302" : {
            "content" : { },
            "description" : "Redirect. The response contains a location redirect to continue the flow until reaching the MVPD login page."
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request was invalid. Check the JSON-based error information provided in the response body."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is not valid, the client application needs to obtain a new one using the information from dynamic client registration process."
          },
          "404" : {
            "content" : { },
            "description" : "Not found. There is no authentication session found on Adobe Primetime Authentication backend."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed.The client tried to use an HTTP methods that the specified resource doesn't allow."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. Something is broken on Adobe Primetime Authentication services side. The JSON-based error information provided in the response body will explain further."
          }
        },
        "summary" : "Get certificates by issuer",
        "tags" : [ "Platform Identity Controller" ]
      }
    },
    "/identities/{issuer}/certificates/{sn}" : {
      "get" : {
        "description" : "Exposes the certificates which can be used to encrypt platform identity issued by a partner andmatch a serial number.",
        "operationId" : "getCertificateUsingGET",
        "parameters" : [ {
          "description" : "issuer",
          "in" : "path",
          "name" : "issuer",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "sn",
          "in" : "path",
          "name" : "sn",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "description" : "OK"
          },
          "302" : {
            "content" : { },
            "description" : "Redirect. The response contains a location redirect to continue the flow until reaching the MVPD login page."
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request was invalid. Check the JSON-based error information provided in the response body."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is not valid, the client application needs to obtain a new one using the information from dynamic client registration process."
          },
          "404" : {
            "content" : { },
            "description" : "Not found. There is no authentication session found on Adobe Primetime Authentication backend."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed.The client tried to use an HTTP methods that the specified resource doesn't allow."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. Something is broken on Adobe Primetime Authentication services side. The JSON-based error information provided in the response body will explain further."
          }
        },
        "summary" : "Get certificates by issuer and serial number",
        "tags" : [ "Platform Identity Controller" ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ServiceTokenIdentity" : {
        "properties" : {
          "issuer" : {
            "type" : "string"
          },
          "subject" : {
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "CertificateInfo" : {
        "properties" : {
          "base64Pem" : {
            "type" : "string"
          },
          "issuer" : {
            "type" : "string"
          },
          "notAfter" : {
            "format" : "date-time",
            "type" : "string"
          },
          "notBefore" : {
            "format" : "date-time",
            "type" : "string"
          },
          "serialNumber" : {
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "PlatformIdentity" : {
        "properties" : {
          "device" : {
            "type" : "string"
          },
          "issuer" : {
            "type" : "string"
          },
          "platform" : {
            "type" : "string"
          },
          "subject" : {
            "type" : "string"
          }
        },
        "type" : "object"
      }
    }
  },
  "x-original-swagger-version" : "2.0"
}