{
  "swagger": "2.0",
  "info": {
    "version": "V2",
    "title": "Identity API"
  },
  "host": "sp.auth.adobe.com",
  "basePath": "/api/v2",
  "tags": [
    {
      "name": "1. Platform Identity API",
      "description": "It can be used to verify service token identity."
    },
    {
      "name": "2. Service Token Identity API",
      "description": "It can be used to handle service token."
    }
  ],
  "paths": {
    "/identities": {
      "get": {
        "tags": [
          "1. Platform Identity API"
        ],
        "summary": "Verify the service token identity",
        "description": "Checks if the received service token identity (via the Adobe-Subject-Token header) is valid and returns information extracted from the jwt payload",
        "operationId": "verifyUsingGET_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PlatformIdentity"
              }
            }
          },
          "400": {
            "description": "Bad request. The request is invalid, the client needs to correct the request and try again. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "401": {
            "description": "Unauthorized. The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [[Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation."
          },
          "500": {
            "description": "Internal Server Error. The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "405": {
            "description": "Method not allowed. The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section."
          }
        }
      },
      "post": {
        "tags": [
          "1. Platform Identity API"
        ],
        "summary": "Verify the service token identity",
        "description": "Checks if the received service token identity (via the Adobe-Subject-Token header) is valid and returns information extracted from the jwt payload",
        "operationId": "verifyUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PlatformIdentity"
              }
            }
          },
          "400": {
            "description": "Bad request. The request is invalid, the client needs to correct the request and try again. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "401": {
            "description": "Unauthorized. The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [[Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation."
          },
          "500": {
            "description": "Internal Server Error. The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "405": {
            "description": "Method not allowed. The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section."
          }
        }
      }
    },
    "/identities/certificates": {
      "get": {
        "tags": [
          "1. Platform Identity API"
        ],
        "summary": "Get certificates",
        "description": "Returns the full list of public certificates that can be used to encrypt the jwt platform identity payload",
        "operationId": "getCertificatesUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CertificateInfo"
              }
            }
          },
          "400": {
            "description": "Bad request. The request is invalid, the client needs to correct the request and try again. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "401": {
            "description": "Unauthorized. The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [[Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation."
          },
          "500": {
            "description": "Internal Server Error. The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "405": {
            "description": "Method not allowed. The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section."
          }
        }
      }
    },
    "/identities/certificates/{sn}": {
      "get": {
        "tags": [
          "1. Platform Identity API"
        ],
        "summary": "Get certificates by serial number",
        "description": "Returns the list of public certificates matching a serial number that can be used to encrypt the jwt platform identity payload",
        "operationId": "getCertificateBySerialNumberUsingGET_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "sn",
            "in": "path",
            "description": "sn",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad request. The request is invalid, the client needs to correct the request and try again. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "401": {
            "description": "Unauthorized. The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [[Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation."
          },
          "500": {
            "description": "Internal Server Error. The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "405": {
            "description": "Method not allowed. The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section."
          }
        }
      }
    },
    "/identities/servicetoken": {
      "get": {
        "tags": [
          "2. Service Token Identity API"
        ],
        "summary": "Verify the service token identity",
        "description": "Checks if the received service token identity (via the AD-Service-Token header) is valid and returns information extracted from the jwt payload",
        "operationId": "verifyUsingGET_2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ServiceTokenIdentity"
              }
            }
          },
          "400": {
            "description": "Bad request. The request is invalid, the client needs to correct the request and try again. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "401": {
            "description": "Unauthorized. The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [[Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation."
          },
          "500": {
            "description": "Internal Server Error. The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "405": {
            "description": "Method not allowed. The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section."
          }
        }
      },
      "post": {
        "tags": [
          "2. Service Token Identity API"
        ],
        "summary": "Verify the service token identity",
        "description": "Checks if the received service token identity (via the AD-Service-Token header) is valid and returns information extracted from the jwt payload",
        "operationId": "verifyUsingPOST_2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ServiceTokenIdentity"
              }
            }
          },
          "400": {
            "description": "Bad request. The request is invalid, the client needs to correct the request and try again. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "401": {
            "description": "Unauthorized. The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [[Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation."
          },
          "500": {
            "description": "Internal Server Error. The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "405": {
            "description": "Method not allowed. The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section."
          }
        }
      }
    },
    "/identities/servicetoken/certificates": {
      "get": {
        "tags": [
          "2. Service Token Identity API"
        ],
        "summary": "Get certificates",
        "description": "Returns the full list of public certificates that can be used to encrypt the jwt service token identity payload",
        "operationId": "getCertificatesUsingGET_4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CertificateInfo"
              }
            }
          },
          "400": {
            "description": "Bad request. The request is invalid, the client needs to correct the request and try again. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "401": {
            "description": "Unauthorized. The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [[Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation."
          },
          "500": {
            "description": "Internal Server Error. The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "405": {
            "description": "Method not allowed. The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section."
          }
        }
      }
    },
    "/identities/servicetoken/certificates/{sn}": {
      "get": {
        "tags": [
          "2. Service Token Identity API"
        ],
        "summary": "Get certificates by serial number",
        "description": "Returns the list of public certificates matching a serial number that can be used to encrypt the jwt service token identity payload",
        "operationId": "getCertificateBySerialNumberUsingGET_3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "sn",
            "in": "path",
            "description": "sn",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad request. The request is invalid, the client needs to correct the request and try again. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "401": {
            "description": "Unauthorized. The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [[Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation."
          },
          "500": {
            "description": "Internal Server Error. The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "405": {
            "description": "Method not allowed. The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section."
          }
        }
      }
    },
    "/identities/{issuer}/certificates": {
      "get": {
        "tags": [
          "1. Platform Identity API"
        ],
        "summary": "Get certificates by issuer",
        "description": "Exposes the certificates which can be used to encrypt platform identity issued by a partner. Currently we are going to return only the first certificate in the list.",
        "operationId": "getCertificatesUsingGET_3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "issuer",
            "in": "path",
            "description": "issuer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CertificateInfo"
              }
            }
          },
          "400": {
            "description": "Bad request. The request is invalid, the client needs to correct the request and try again. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "401": {
            "description": "Unauthorized. The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [[Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation."
          },
          "500": {
            "description": "Internal Server Error. The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "405": {
            "description": "Method not allowed. The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section."
          }
        }
      }
    },
    "/identities/{issuer}/certificates/{sn}": {
      "get": {
        "tags": [
          "1. Platform Identity API"
        ],
        "summary": "Get certificates by issuer and serial number",
        "description": "Exposes the certificates which can be used to encrypt platform identity issued by a partner andmatch a serial number.",
        "operationId": "getCertificateUsingGET_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "issuer",
            "in": "path",
            "description": "issuer",
            "required": true,
            "type": "string"
          },
          {
            "name": "sn",
            "in": "path",
            "description": "sn",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad request. The request is invalid, the client needs to correct the request and try again. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "401": {
            "description": "Unauthorized. The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [[Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation."
          },
          "500": {
            "description": "Internal Server Error. The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "405": {
            "description": "Method not allowed. The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section."
          }
        }
      }
    }
  },
  "definitions": {
    "ServiceTokenIdentity": {
      "type": "object",
      "properties": {
        "issuer": {
          "type": "string"
        },
        "subject": {
          "type": "string"
        }
      }
    },
    "CertificateInfo": {
      "type": "object",
      "properties": {
        "base64Pem": {
          "type": "string"
        },
        "issuer": {
          "type": "string"
        },
        "notAfter": {
          "type": "string",
          "format": "date-time"
        },
        "notBefore": {
          "type": "string",
          "format": "date-time"
        },
        "serialNumber": {
          "type": "string"
        }
      }
    },
    "PlatformIdentity": {
      "type": "object",
      "properties": {
        "device": {
          "type": "string"
        },
        "issuer": {
          "type": "string"
        },
        "platform": {
          "type": "string"
        },
        "subject": {
          "type": "string"
        }
      }
    }
  }
}