{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "REST API",
    "version" : "V2"
  },
  "servers" : [ {
    "url" : "https://sp.auth.adobe.com/api/v2"
  } ],
  "tags" : [ {
    "description" : "Create authentication sessions",
    "name" : "2. Sessions"
  }, {
    "description" : "Handle partner authentication",
    "name" : "6. Partner Single Sign-On"
  }, {
    "description" : "Delete authenticated profiles",
    "name" : "5. Logout"
  }, {
    "description" : "Obtain information about authenticated profiles",
    "name" : "3. Profiles"
  }, {
    "description" : "Retrieve the configuration associated with the Service Provider",
    "name" : "1. Configuration"
  }, {
    "description" : "Obtain informative/authoritative decisions",
    "name" : "4. Decisions"
  } ],
  "paths" : {
    "/authenticate/{serviceProvider}/{code}" : {
      "get" : {
        "operationId" : "startAuthenticationUsingGET",
        "parameters" : [ {
          "description" : "The authentication code obtained after creating the authentication session on the streaming device.",
          "in" : "path",
          "name" : "code",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The internal unique identifier associated with the Service Provider during onboarding process.",
          "in" : "path",
          "name" : "serviceProvider",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The user agent of the client application.",
          "in" : "header",
          "name" : "User-Agent",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : { },
            "description" : "OK"
          },
          "302" : {
            "content" : { },
            "description" : "Found. <summary>The response body contains a location redirect to continue the flow until reaching the MVPD login page<summary>"
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. <summary>The request is invalid, the client needs to correct the request and try again.<summary> <summary>The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation.<summary>"
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed. <summary>The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section.<summary>"
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. <summary>The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation.<summary>"
          }
        },
        "summary" : "Perform authentication in user agent",
        "tags" : [ "2. Sessions" ]
      }
    },
    "/{serviceProvider}/configuration" : {
      "get" : {
        "operationId" : "handleRequestUsingGET_1",
        "parameters" : [ {
          "description" : "-",
          "in" : "query",
          "name" : "profile",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The internal unique identifier associated with the Service Provider during onboarding process.",
          "in" : "path",
          "name" : "serviceProvider",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the bearer token payload is described in the [Authorization](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-authorization) header documentation.",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the device identifier payload is described in the [AP-Device-Identifier](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-ap-device-identifier) header documentation.",
          "in" : "header",
          "name" : "AP-Device-Identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the device information payload is described in the [X-Device-Info](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-x-device-info) header documentation.\n\nIt is strongly recommended to always use it when the application's device platform allows for the explicit provision of valid values.\n\nWhen provided, the Adobe Pass Authentication backend will merge explicitly set values with extracted values implicitly (by default).\n\nWhen not provided, the Adobe Pass Authentication backend will use extracted values implicitly (by default).",
          "in" : "header",
          "name" : "X-Device-Info",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The IP address of the streaming device.\n\nIt is strongly recommended to always use it for server to server implementations, particularly when the call is made by the programmer service rather than the streaming device.\n\nFor client to server implementations, the IP address of the streaming device is sent implicitly",
          "in" : "header",
          "name" : "X-Forwarded-For",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application.\n\nIf specified, it must be application/json.",
          "in" : "header",
          "name" : "Accept",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The user agent of the client application.",
          "in" : "header",
          "name" : "User-Agent",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConfigurationResponse"
                }
              }
            },
            "description" : "OK. <summary>The response body contains a list of MVPDs having an active integration with the 'serviceProvider'.<summary>"
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. <summary>The request is invalid, the client needs to correct the request and try again.<summary> <summary>The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation.<summary>"
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. <summary>The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation.<summary>"
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed. <summary>The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section.<summary>"
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. <summary>The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation.<summary>"
          }
        },
        "summary" : "Retrieve configuration for specific service provider",
        "tags" : [ "1. Configuration" ]
      }
    },
    "/{serviceProvider}/decisions/authorize/{mvpd}" : {
      "post" : {
        "operationId" : "retrieveAuthorizeDecisionsForMvpdUsingPOST_1",
        "parameters" : [ {
          "description" : "The internal unique identifier associated with the Identity Provider during onboarding process.",
          "in" : "path",
          "name" : "mvpd",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The internal unique identifier associated with the Service Provider during onboarding process.",
          "in" : "path",
          "name" : "serviceProvider",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the bearer token payload is described in the [Authorization](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-authorization) header documentation.",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application.\n\nIf specified, it must be application/json.",
          "in" : "header",
          "name" : "Content-Type",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the device identifier payload is described in the [AP-Device-Identifier](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-ap-device-identifier) header documentation.",
          "in" : "header",
          "name" : "AP-Device-Identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the device information payload is described in the [X-Device-Info](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-x-device-info) header documentation.\n\nIt is strongly recommended to always use it when the application's device platform allows for the explicit provision of valid values.\n\nWhen provided, the Adobe Pass Authentication backend will merge explicitly set values with extracted values implicitly (by default).\n\nWhen not provided, the Adobe Pass Authentication backend will use extracted values implicitly (by default).",
          "in" : "header",
          "name" : "X-Device-Info",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The IP address of the streaming device.\n\nIt is strongly recommended to always use it for server to server implementations, particularly when the call is made by the programmer service rather than the streaming device.\n\nFor client to server implementations, the IP address of the streaming device is sent implicitly",
          "in" : "header",
          "name" : "X-Forwarded-For",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the single sign-on payload for the Platform Identity method is described in the [Adobe-Subject-Token](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-adobe-subject-token) documentation.\n\nFor more details about single sign-on enabled flows using a platform identity, refer to the [Single sign-on using platform identity flows](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-flows/rest-api-v2-single-sign-on-access-flows/rest-api-v2-single-sign-on-service-token-flows) documentation.",
          "in" : "header",
          "name" : "Adobe-Subject-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the single sign-on payload for the Service Token method is described in the [AD-Service-Token](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-ad-service-token) documentation.\n\nFor more details about single sign-on enabled flows using a service token, refer to the [Single sign-on using service token flows](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-flows/rest-api-v2-single-sign-on-access-flows/rest-api-v2-single-sign-on-service-token-flows) documentation.",
          "in" : "header",
          "name" : "AD-Service-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the single sign-on payload for the Partner method is described in the [AP-Partner-Framework-Status](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-ap-partner-framework-status) documentation.\n\nFor more details about single sign-on enabled flows using a partner, refer to the [Single sign-on using partner flows](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-flows/rest-api-v2-single-sign-on-access-flows/rest-api-v2-single-sign-on-service-token-flows) documentation.",
          "in" : "header",
          "name" : "AP-Partner-Framework-Status",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the user unique identifier payload is described in the [AP-TempPass-Identity](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-ap-temppass-identity) documentation.",
          "in" : "header",
          "name" : "AP-Temppass-Identity",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application.\n\nIf specified, it must be application/json.",
          "in" : "header",
          "name" : "Accept",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The user agent of the client application.",
          "in" : "header",
          "name" : "User-Agent",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "items" : {
                  "type" : "string"
                },
                "type" : "array"
              }
            }
          },
          "description" : "The list of resources that require an MVPD decision before they can be played.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DecisionsResponse"
                }
              }
            },
            "description" : "OK. <summary>The response body contains a list of decisions with additional information.<summary>"
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. <summary>The request is invalid, the client needs to correct the request and try again.<summary> <summary>The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation.<summary>"
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. <summary>The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation.<summary>"
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed. <summary>The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section.<summary>"
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. <summary>The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation.<summary>"
          }
        },
        "summary" : "Retrieve authorization decisions using specific MVPD",
        "tags" : [ "4. Decisions" ],
        "x-codegen-request-body-name" : "resources"
      }
    },
    "/{serviceProvider}/decisions/preauthorize/{mvpd}" : {
      "post" : {
        "operationId" : "retrievePreAuthorizeDecisionsForMvpdUsingPOST",
        "parameters" : [ {
          "description" : "The internal unique identifier associated with the Identity Provider during onboarding process.",
          "in" : "path",
          "name" : "mvpd",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The internal unique identifier associated with the Service Provider during onboarding process.",
          "in" : "path",
          "name" : "serviceProvider",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the bearer token payload is described in the [Authorization](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-authorization) header documentation.",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application.\n\nIf specified, it must be application/json.",
          "in" : "header",
          "name" : "Content-Type",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the device identifier payload is described in the [AP-Device-Identifier](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-ap-device-identifier) header documentation.",
          "in" : "header",
          "name" : "AP-Device-Identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the device information payload is described in the [X-Device-Info](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-x-device-info) header documentation.\n\nIt is strongly recommended to always use it when the application's device platform allows for the explicit provision of valid values.\n\nWhen provided, the Adobe Pass Authentication backend will merge explicitly set values with extracted values implicitly (by default).\n\nWhen not provided, the Adobe Pass Authentication backend will use extracted values implicitly (by default).",
          "in" : "header",
          "name" : "X-Device-Info",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The IP address of the streaming device.\n\nIt is strongly recommended to always use it for server to server implementations, particularly when the call is made by the programmer service rather than the streaming device.\n\nFor client to server implementations, the IP address of the streaming device is sent implicitly",
          "in" : "header",
          "name" : "X-Forwarded-For",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the single sign-on payload for the Platform Identity method is described in the [Adobe-Subject-Token](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-adobe-subject-token) documentation.\n\nFor more details about single sign-on enabled flows using a platform identity, refer to the [Single sign-on using platform identity flows](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-flows/rest-api-v2-single-sign-on-access-flows/rest-api-v2-single-sign-on-service-token-flows) documentation.",
          "in" : "header",
          "name" : "Adobe-Subject-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the single sign-on payload for the Service Token method is described in the [AD-Service-Token](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-ad-service-token) documentation.\n\nFor more details about single sign-on enabled flows using a service token, refer to the [Single sign-on using service token flows](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-flows/rest-api-v2-single-sign-on-access-flows/rest-api-v2-single-sign-on-service-token-flows) documentation.",
          "in" : "header",
          "name" : "AD-Service-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the single sign-on payload for the Partner method is described in the [AP-Partner-Framework-Status](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-ap-partner-framework-status) documentation.\n\nFor more details about single sign-on enabled flows using a partner, refer to the [Single sign-on using partner flows](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-flows/rest-api-v2-single-sign-on-access-flows/rest-api-v2-single-sign-on-service-token-flows) documentation.",
          "in" : "header",
          "name" : "AP-Partner-Framework-Status",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the user unique identifier payload is described in the [AP-TempPass-Identity](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-ap-temppass-identity) documentation.",
          "in" : "header",
          "name" : "AP-Temppass-Identity",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application.\n\nIf specified, it must be application/json.",
          "in" : "header",
          "name" : "Accept",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The user agent of the client application.",
          "in" : "header",
          "name" : "User-Agent",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "items" : {
                  "type" : "string"
                },
                "type" : "array"
              }
            }
          },
          "description" : "The list of resources that require an MVPD decision before they can be played.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DecisionsResponse"
                }
              }
            },
            "description" : "OK. <summary>The response body contains a list of decisions with additional information.<summary>"
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. <summary>The request is invalid, the client needs to correct the request and try again.<summary> <summary>The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation.<summary>"
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. <summary>The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation.<summary>"
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed. <summary>The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section.<summary>"
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. <summary>The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation.<summary>"
          }
        },
        "summary" : "Retrieve preauthorization decisions using specific MVPD",
        "tags" : [ "4. Decisions" ],
        "x-codegen-request-body-name" : "resources"
      }
    },
    "/{serviceProvider}/logout/{mvpd}" : {
      "get" : {
        "operationId" : "getLogoutForMvpdUsingGET_1",
        "parameters" : [ {
          "description" : "The internal unique identifier associated with the Identity Provider during onboarding process.",
          "in" : "path",
          "name" : "mvpd",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The final redirect URL to which the user agent navigates when the logout flow for the MVPD is completed.\n\nThe value must be URL-encoded.",
          "in" : "query",
          "name" : "redirectUrl",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The internal unique identifier associated with the Service Provider during onboarding process.",
          "in" : "path",
          "name" : "serviceProvider",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the bearer token payload is described in the [Authorization](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-authorization) header documentation.",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the device identifier payload is described in the [AP-Device-Identifier](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-ap-device-identifier) header documentation.",
          "in" : "header",
          "name" : "AP-Device-Identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the device information payload is described in the [X-Device-Info](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-x-device-info) header documentation.\n\nIt is strongly recommended to always use it when the application's device platform allows for the explicit provision of valid values.\n\nWhen provided, the Adobe Pass Authentication backend will merge explicitly set values with extracted values implicitly (by default).\n\nWhen not provided, the Adobe Pass Authentication backend will use extracted values implicitly (by default).",
          "in" : "header",
          "name" : "X-Device-Info",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The IP address of the streaming device.\n\nIt is strongly recommended to always use it for server to server implementations, particularly when the call is made by the programmer service rather than the streaming device.\n\nFor client to server implementations, the IP address of the streaming device is sent implicitly",
          "in" : "header",
          "name" : "X-Forwarded-For",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the single sign-on payload for the Platform Identity method is described in the [Adobe-Subject-Token](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-adobe-subject-token) documentation.\n\nFor more details about single sign-on enabled flows using a platform identity, refer to the [Single sign-on using platform identity flows](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-flows/rest-api-v2-single-sign-on-access-flows/rest-api-v2-single-sign-on-service-token-flows) documentation.",
          "in" : "header",
          "name" : "Adobe-Subject-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the single sign-on payload for the Service Token method is described in the [AD-Service-Token](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-ad-service-token) documentation.\n\nFor more details about single sign-on enabled flows using a service token, refer to the [Single sign-on using service token flows](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-flows/rest-api-v2-single-sign-on-access-flows/rest-api-v2-single-sign-on-service-token-flows) documentation.",
          "in" : "header",
          "name" : "AD-Service-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application.\n\nIf specified, it must be application/json.",
          "in" : "header",
          "name" : "Accept",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The user agent of the client application.",
          "in" : "header",
          "name" : "User-Agent",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LogoutResponse"
                }
              }
            },
            "description" : "OK. <summary>The response body contains a list of actions the client must perform in order to complete the logout flow for each deleted profile.<summary>"
          },
          "302" : {
            "content" : { },
            "description" : "Found. <summary>The response body contains a location redirect to continue the flow until reaching the MVPD login page<summary>"
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. <summary>The request is invalid, the client needs to correct the request and try again.<summary> <summary>The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation.<summary>"
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. <summary>The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation.<summary>"
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed. <summary>The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section.<summary>"
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. <summary>The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation.<summary>"
          }
        },
        "summary" : "Initiate logout for specific MVPD",
        "tags" : [ "5. Logout" ]
      }
    },
    "/{serviceProvider}/profiles" : {
      "get" : {
        "operationId" : "getProfilesUsingGET_1",
        "parameters" : [ {
          "description" : "The internal unique identifier associated with the Service Provider during onboarding process.",
          "in" : "path",
          "name" : "serviceProvider",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the bearer token payload is described in the [Authorization](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-authorization) header documentation.",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the device identifier payload is described in the [AP-Device-Identifier](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-ap-device-identifier) header documentation.",
          "in" : "header",
          "name" : "AP-Device-Identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the device information payload is described in the [X-Device-Info](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-x-device-info) header documentation.\n\nIt is strongly recommended to always use it when the application's device platform allows for the explicit provision of valid values.\n\nWhen provided, the Adobe Pass Authentication backend will merge explicitly set values with extracted values implicitly (by default).\n\nWhen not provided, the Adobe Pass Authentication backend will use extracted values implicitly (by default).",
          "in" : "header",
          "name" : "X-Device-Info",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The IP address of the streaming device.\n\nIt is strongly recommended to always use it for server to server implementations, particularly when the call is made by the programmer service rather than the streaming device.\n\nFor client to server implementations, the IP address of the streaming device is sent implicitly",
          "in" : "header",
          "name" : "X-Forwarded-For",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the single sign-on payload for the Platform Identity method is described in the [Adobe-Subject-Token](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-adobe-subject-token) documentation.\n\nFor more details about single sign-on enabled flows using a platform identity, refer to the [Single sign-on using platform identity flows](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-flows/rest-api-v2-single-sign-on-access-flows/rest-api-v2-single-sign-on-service-token-flows) documentation.",
          "in" : "header",
          "name" : "Adobe-Subject-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the single sign-on payload for the Service Token method is described in the [AD-Service-Token](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-ad-service-token) documentation.\n\nFor more details about single sign-on enabled flows using a service token, refer to the [Single sign-on using service token flows](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-flows/rest-api-v2-single-sign-on-access-flows/rest-api-v2-single-sign-on-service-token-flows) documentation.",
          "in" : "header",
          "name" : "AD-Service-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the single sign-on payload for the Partner method is described in the [AP-Partner-Framework-Status](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-ap-partner-framework-status) documentation.\n\nFor more details about single sign-on enabled flows using a partner, refer to the [Single sign-on using partner flows](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-flows/rest-api-v2-single-sign-on-access-flows/rest-api-v2-single-sign-on-service-token-flows) documentation.",
          "in" : "header",
          "name" : "AP-Partner-Framework-Status",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application.\n\nIf specified, it must be application/json.",
          "in" : "header",
          "name" : "Accept",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The user agent of the client application.",
          "in" : "header",
          "name" : "User-Agent",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProfilesResponse"
                }
              }
            },
            "description" : "OK. <summary>The response body contains a map of valid profiles, which may be empty.<summary>"
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. <summary>The request is invalid, the client needs to correct the request and try again.<summary> <summary>The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation.<summary>"
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. <summary>The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation.<summary>"
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed. <summary>The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section.<summary>"
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. <summary>The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation.<summary>"
          }
        },
        "summary" : "Retrieve profiles",
        "tags" : [ "3. Profiles" ]
      }
    },
    "/{serviceProvider}/profiles/code/{code}" : {
      "get" : {
        "operationId" : "getProfileForCodeUsingGET",
        "parameters" : [ {
          "description" : "The authentication code obtained after creating the authentication session on the streaming device.",
          "in" : "path",
          "name" : "code",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The internal unique identifier associated with the Service Provider during onboarding process.",
          "in" : "path",
          "name" : "serviceProvider",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the bearer token payload is described in the [Authorization](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-authorization) header documentation.",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The IP address of the streaming device.\n\nIt is strongly recommended to always use it for server to server implementations, particularly when the call is made by the programmer service rather than the streaming device.\n\nFor client to server implementations, the IP address of the streaming device is sent implicitly",
          "in" : "header",
          "name" : "X-Forwarded-For",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application.\n\nIf specified, it must be application/json.",
          "in" : "header",
          "name" : "Accept",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The user agent of the client application.",
          "in" : "header",
          "name" : "User-Agent",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProfilesResponse"
                }
              }
            },
            "description" : "OK. <summary>The response body contains a map of valid profiles, which may be empty.<summary>"
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. <summary>The request is invalid, the client needs to correct the request and try again.<summary> <summary>The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation.<summary>"
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. <summary>The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation.<summary>"
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed. <summary>The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section.<summary>"
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. <summary>The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation.<summary>"
          }
        },
        "summary" : "Retrieve profiles for specific code",
        "tags" : [ "3. Profiles" ]
      }
    },
    "/{serviceProvider}/profiles/sso/{partner}" : {
      "post" : {
        "operationId" : "createPartnerProfileUsingPOST",
        "parameters" : [ {
          "description" : "The name of the partner (e.g., Apple) that provides the single sign-on framework integrated with Adobe Pass Authentication flows.",
          "in" : "path",
          "name" : "partner",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The internal unique identifier associated with the Service Provider during onboarding process.",
          "in" : "path",
          "name" : "serviceProvider",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the bearer token payload is described in the [Authorization](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-authorization) header documentation.",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application.\n\nIf specified, it must be application/x-www-form-urlencoded.",
          "in" : "header",
          "name" : "Content-Type",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the device identifier payload is described in the [AP-Device-Identifier](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-ap-device-identifier) header documentation.",
          "in" : "header",
          "name" : "AP-Device-Identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the device information payload is described in the [X-Device-Info](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-x-device-info) header documentation.\n\nIt is strongly recommended to always use it when the application's device platform allows for the explicit provision of valid values.\n\nWhen provided, the Adobe Pass Authentication backend will merge explicitly set values with extracted values implicitly (by default).\n\nWhen not provided, the Adobe Pass Authentication backend will use extracted values implicitly (by default).",
          "in" : "header",
          "name" : "X-Device-Info",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The IP address of the streaming device.\n\nIt is strongly recommended to always use it for server to server implementations, particularly when the call is made by the programmer service rather than the streaming device.\n\nFor client to server implementations, the IP address of the streaming device is sent implicitly",
          "in" : "header",
          "name" : "X-Forwarded-For",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the single sign-on payload for the Partner method is described in the [AP-Partner-Framework-Status](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-ap-partner-framework-status) documentation.\n\nFor more details about single sign-on enabled flows using a partner, refer to the [Single sign-on using partner flows](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-flows/rest-api-v2-single-sign-on-access-flows/rest-api-v2-single-sign-on-service-token-flows) documentation.",
          "in" : "header",
          "name" : "AP-Partner-Framework-Status",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application.\n\nIf specified, it must be application/json.",
          "in" : "header",
          "name" : "Accept",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The user agent of the client application.",
          "in" : "header",
          "name" : "User-Agent",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "string"
              }
            }
          },
          "description" : "The partner authentication response that contains the needed user metadata to create and save a partner profile.\n\nThe value must be Base64-encoded and afterward URL-encoded.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProfilesResponse"
                }
              }
            },
            "description" : "OK. <summary>The response body contains a map of valid profiles, which may be empty.<summary>"
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. <summary>The request is invalid, the client needs to correct the request and try again.<summary> <summary>The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation.<summary>"
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. <summary>The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation.<summary>"
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed. <summary>The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section.<summary>"
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. <summary>The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation.<summary>"
          }
        },
        "summary" : "Retrieve profile using partner authentication response",
        "tags" : [ "6. Partner Single Sign-On" ],
        "x-codegen-request-body-name" : "SAMLResponse"
      }
    },
    "/{serviceProvider}/profiles/{mvpd}" : {
      "get" : {
        "operationId" : "getProfileForMvpdUsingGET",
        "parameters" : [ {
          "description" : "The internal unique identifier associated with the Identity Provider during onboarding process.",
          "in" : "path",
          "name" : "mvpd",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The internal unique identifier associated with the Service Provider during onboarding process.",
          "in" : "path",
          "name" : "serviceProvider",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the bearer token payload is described in the [Authorization](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-authorization) header documentation.",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the device identifier payload is described in the [AP-Device-Identifier](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-ap-device-identifier) header documentation.",
          "in" : "header",
          "name" : "AP-Device-Identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the device information payload is described in the [X-Device-Info](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-x-device-info) header documentation.\n\nIt is strongly recommended to always use it when the application's device platform allows for the explicit provision of valid values.\n\nWhen provided, the Adobe Pass Authentication backend will merge explicitly set values with extracted values implicitly (by default).\n\nWhen not provided, the Adobe Pass Authentication backend will use extracted values implicitly (by default).",
          "in" : "header",
          "name" : "X-Device-Info",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The IP address of the streaming device.\n\nIt is strongly recommended to always use it for server to server implementations, particularly when the call is made by the programmer service rather than the streaming device.\n\nFor client to server implementations, the IP address of the streaming device is sent implicitly",
          "in" : "header",
          "name" : "X-Forwarded-For",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the single sign-on payload for the Platform Identity method is described in the [Adobe-Subject-Token](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-adobe-subject-token) documentation.\n\nFor more details about single sign-on enabled flows using a platform identity, refer to the [Single sign-on using platform identity flows](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-flows/rest-api-v2-single-sign-on-access-flows/rest-api-v2-single-sign-on-service-token-flows) documentation.",
          "in" : "header",
          "name" : "Adobe-Subject-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the single sign-on payload for the Service Token method is described in the [AD-Service-Token](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-ad-service-token) documentation.\n\nFor more details about single sign-on enabled flows using a service token, refer to the [Single sign-on using service token flows](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-flows/rest-api-v2-single-sign-on-access-flows/rest-api-v2-single-sign-on-service-token-flows) documentation.",
          "in" : "header",
          "name" : "AD-Service-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the single sign-on payload for the Partner method is described in the [AP-Partner-Framework-Status](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-ap-partner-framework-status) documentation.\n\nFor more details about single sign-on enabled flows using a partner, refer to the [Single sign-on using partner flows](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-flows/rest-api-v2-single-sign-on-access-flows/rest-api-v2-single-sign-on-service-token-flows) documentation.",
          "in" : "header",
          "name" : "AP-Partner-Framework-Status",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the user unique identifier payload is described in the [AP-TempPass-Identity](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-ap-temppass-identity) documentation.",
          "in" : "header",
          "name" : "AP-Temppass-Identity",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application.\n\nIf specified, it must be application/json.",
          "in" : "header",
          "name" : "Accept",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The user agent of the client application.",
          "in" : "header",
          "name" : "User-Agent",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProfilesResponse"
                }
              }
            },
            "description" : "OK. <summary>The response body contains a map of valid profiles, which may be empty.<summary>"
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. <summary>The request is invalid, the client needs to correct the request and try again.<summary> <summary>The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation.<summary>"
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. <summary>The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation.<summary>"
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed. <summary>The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section.<summary>"
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. <summary>The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation.<summary>"
          }
        },
        "summary" : "Retrieve profiles for specific MVPD",
        "tags" : [ "3. Profiles" ]
      }
    },
    "/{serviceProvider}/sessions" : {
      "post" : {
        "operationId" : "createSessionUsingPOST_1",
        "parameters" : [ {
          "description" : "The internal unique identifier associated with the Service Provider during onboarding process.",
          "in" : "path",
          "name" : "serviceProvider",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the bearer token payload is described in the [Authorization](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-authorization) header documentation.",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application.\n\nIf specified, it must be application/x-www-form-urlencoded.",
          "in" : "header",
          "name" : "Content-Type",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the device identifier payload is described in the [AP-Device-Identifier](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-ap-device-identifier) header documentation.",
          "in" : "header",
          "name" : "AP-Device-Identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the device information payload is described in the [X-Device-Info](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-x-device-info) header documentation.\n\nIt is strongly recommended to always use it when the application's device platform allows for the explicit provision of valid values.\n\nWhen provided, the Adobe Pass Authentication backend will merge explicitly set values with extracted values implicitly (by default).\n\nWhen not provided, the Adobe Pass Authentication backend will use extracted values implicitly (by default).",
          "in" : "header",
          "name" : "X-Device-Info",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The IP address of the streaming device.\n\nIt is strongly recommended to always use it for server to server implementations, particularly when the call is made by the programmer service rather than the streaming device.\n\nFor client to server implementations, the IP address of the streaming device is sent implicitly",
          "in" : "header",
          "name" : "X-Forwarded-For",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the single sign-on payload for the Platform Identity method is described in the [Adobe-Subject-Token](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-adobe-subject-token) documentation.\n\nFor more details about single sign-on enabled flows using a platform identity, refer to the [Single sign-on using platform identity flows](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-flows/rest-api-v2-single-sign-on-access-flows/rest-api-v2-single-sign-on-service-token-flows) documentation.",
          "in" : "header",
          "name" : "Adobe-Subject-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the single sign-on payload for the Service Token method is described in the [AD-Service-Token](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-ad-service-token) documentation.\n\nFor more details about single sign-on enabled flows using a service token, refer to the [Single sign-on using service token flows](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-flows/rest-api-v2-single-sign-on-access-flows/rest-api-v2-single-sign-on-service-token-flows) documentation.",
          "in" : "header",
          "name" : "AD-Service-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application.\n\nIf specified, it must be application/json.",
          "in" : "header",
          "name" : "Accept",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The user agent of the client application.",
          "in" : "header",
          "name" : "User-Agent",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/createSessionUsingPOST_1_request"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SessionResponse"
                }
              }
            },
            "description" : "OK. <summary>The response body contains information about the next actions to perform authentication.<summary>"
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. <summary>The request is invalid, the client needs to correct the request and try again.<summary> <summary>The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation.<summary>"
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. <summary>The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation.<summary>"
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed. <summary>The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section.<summary>"
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. <summary>The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation.<summary>"
          }
        },
        "summary" : "Create authentication session",
        "tags" : [ "2. Sessions" ]
      }
    },
    "/{serviceProvider}/sessions/sso/{partner}" : {
      "post" : {
        "operationId" : "retrieveVerificationTokenUsingPOST",
        "parameters" : [ {
          "description" : "The name of the partner (e.g., Apple) that provides the single sign-on framework integrated with Adobe Pass Authentication flows.",
          "in" : "path",
          "name" : "partner",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The internal unique identifier associated with the Service Provider during onboarding process.",
          "in" : "path",
          "name" : "serviceProvider",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the bearer token payload is described in the [Authorization](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-authorization) header documentation.",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application.\n\nIf specified, it must be application/x-www-form-urlencoded.",
          "in" : "header",
          "name" : "Content-Type",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the device identifier payload is described in the [AP-Device-Identifier](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-ap-device-identifier) header documentation.",
          "in" : "header",
          "name" : "AP-Device-Identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the device information payload is described in the [X-Device-Info](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-x-device-info) header documentation.\n\nIt is strongly recommended to always use it when the application's device platform allows for the explicit provision of valid values.\n\nWhen provided, the Adobe Pass Authentication backend will merge explicitly set values with extracted values implicitly (by default).\n\nWhen not provided, the Adobe Pass Authentication backend will use extracted values implicitly (by default).",
          "in" : "header",
          "name" : "X-Device-Info",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The IP address of the streaming device.\n\nIt is strongly recommended to always use it for server to server implementations, particularly when the call is made by the programmer service rather than the streaming device.\n\nFor client to server implementations, the IP address of the streaming device is sent implicitly",
          "in" : "header",
          "name" : "X-Forwarded-For",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the single sign-on payload for the Partner method is described in the [AP-Partner-Framework-Status](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-ap-partner-framework-status) documentation.\n\nFor more details about single sign-on enabled flows using a partner, refer to the [Single sign-on using partner flows](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-flows/rest-api-v2-single-sign-on-access-flows/rest-api-v2-single-sign-on-service-token-flows) documentation.",
          "in" : "header",
          "name" : "AP-Partner-Framework-Status",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application.\n\nIf specified, it must be application/json.",
          "in" : "header",
          "name" : "Accept",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The user agent of the client application.",
          "in" : "header",
          "name" : "User-Agent",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/retrieveVerificationTokenUsingPOST_request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SessionResponse"
                }
              }
            },
            "description" : "OK. <summary>The response body contains information about the next actions to perform authentication.<summary>"
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. <summary>The request is invalid, the client needs to correct the request and try again.<summary> <summary>The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation.<summary>"
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. <summary>The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation.<summary>"
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed. <summary>The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section.<summary>"
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. <summary>The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation.<summary>"
          }
        },
        "summary" : "Retrieve partner authentication request",
        "tags" : [ "6. Partner Single Sign-On" ]
      }
    },
    "/{serviceProvider}/sessions/{code}" : {
      "get" : {
        "operationId" : "getSessionStatusUsingGET_1",
        "parameters" : [ {
          "description" : "The authentication code obtained after creating the authentication session on the streaming device.",
          "in" : "path",
          "name" : "code",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The internal unique identifier associated with the Service Provider during onboarding process.",
          "in" : "path",
          "name" : "serviceProvider",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the bearer token payload is described in the [Authorization](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-authorization) header documentation.",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The IP address of the streaming device.\n\nIt is strongly recommended to always use it for server to server implementations, particularly when the call is made by the programmer service rather than the streaming device.\n\nFor client to server implementations, the IP address of the streaming device is sent implicitly",
          "in" : "header",
          "name" : "X-Forwarded-For",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application.\n\nIf specified, it must be application/json.",
          "in" : "header",
          "name" : "Accept",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The user agent of the client application.",
          "in" : "header",
          "name" : "User-Agent",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SessionStatusResponse"
                }
              }
            },
            "description" : "OK. <summary>The response body contains information about the authentication session.<summary>"
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. <summary>The request is invalid, the client needs to correct the request and try again.<summary> <summary>The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation.<summary>"
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. <summary>The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation.<summary>"
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed. <summary>The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section.<summary>"
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. <summary>The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation.<summary>"
          }
        },
        "summary" : "Retrieve authentication session using code",
        "tags" : [ "2. Sessions" ]
      },
      "post" : {
        "operationId" : "resumeSessionUsingPOST_1",
        "parameters" : [ {
          "description" : "The authentication code obtained after creating the authentication session on the streaming device.",
          "in" : "path",
          "name" : "code",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The internal unique identifier associated with the Service Provider during onboarding process.",
          "in" : "path",
          "name" : "serviceProvider",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The generation of the bearer token payload is described in the [Authorization](https://experienceleague.adobe.com/en/docs/pass/authentication/programmer-integration-guide/rest-api-v2/rest-api-v2-appendix/rest-api-v2-appendix-headers/rest-api-v2-appendix-headers-authorization) header documentation.",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application.\n\nIf specified, it must be application/x-www-form-urlencoded.",
          "in" : "header",
          "name" : "Content-Type",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The IP address of the streaming device.\n\nIt is strongly recommended to always use it for server to server implementations, particularly when the call is made by the programmer service rather than the streaming device.\n\nFor client to server implementations, the IP address of the streaming device is sent implicitly",
          "in" : "header",
          "name" : "X-Forwarded-For",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application.\n\nIf specified, it must be application/json.",
          "in" : "header",
          "name" : "Accept",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The user agent of the client application.",
          "in" : "header",
          "name" : "User-Agent",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/createSessionUsingPOST_1_request"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SessionResponse"
                }
              }
            },
            "description" : "OK. <summary>The response body contains information about the next actions to perform authentication.<summary>"
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. <summary>The request is invalid, the client needs to correct the request and try again.<summary> <summary>The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation.<summary>"
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. <summary>The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation.<summary>"
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed. <summary>The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section.<summary>"
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. <summary>The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation.<summary>"
          }
        },
        "summary" : "Resume authentication session",
        "tags" : [ "2. Sessions" ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "MediaTokenResponse" : {
        "properties" : {
          "notAfter" : {
            "format" : "int64",
            "type" : "integer"
          },
          "notBefore" : {
            "format" : "int64",
            "type" : "integer"
          },
          "serializedToken" : {
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "ProfilesResponse" : {
        "properties" : {
          "profiles" : {
            "additionalProperties" : {
              "$ref" : "#/components/schemas/MvpdProfileResponse"
            },
            "type" : "object"
          }
        },
        "type" : "object"
      },
      "ConfigurationResponse" : {
        "properties" : {
          "os" : {
            "type" : "string"
          },
          "platform" : {
            "type" : "string"
          },
          "platformCategory" : {
            "type" : "string"
          },
          "requestor" : {
            "$ref" : "#/components/schemas/ProgrammerType"
          },
          "sdkType" : {
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "DecisionResponse" : {
        "description" : "Response object for decision requests",
        "properties" : {
          "authorized" : {
            "description" : "The authorization decision for the resource. Can be either true or false.",
            "example" : false,
            "type" : "boolean"
          },
          "error" : {
            "$ref" : "#/components/schemas/ErrorInformation"
          },
          "mvpd" : {
            "description" : "The internal unique identifier associated with an Identity Provider during on-boarding process.",
            "type" : "string"
          },
          "notAfter" : {
            "format" : "int64",
            "type" : "integer"
          },
          "notBefore" : {
            "format" : "int64",
            "type" : "integer"
          },
          "resource" : {
            "description" : "The resource identifier for which the authorize decision is returned.",
            "type" : "string"
          },
          "serviceProvider" : {
            "description" : "The internal unique identifier associated with a Service Provider during on-boarding process.",
            "type" : "string"
          },
          "source" : {
            "description" : "Information about decision source: degradation, temppass, mvpd or dummy.",
            "type" : "string"
          },
          "token" : {
            "$ref" : "#/components/schemas/MediaTokenResponse"
          }
        },
        "type" : "object"
      },
      "Message" : {
        "type" : "object"
      },
      "LogoutResponse" : {
        "properties" : {
          "logouts" : {
            "additionalProperties" : {
              "$ref" : "#/components/schemas/MvpdLogoutResponse"
            },
            "type" : "object"
          }
        },
        "type" : "object"
      },
      "DecisionsResponse" : {
        "properties" : {
          "decisions" : {
            "items" : {
              "$ref" : "#/components/schemas/DecisionResponse"
            },
            "type" : "array"
          }
        },
        "type" : "object"
      },
      "SessionStatusResponse" : {
        "description" : "Response object for session status requests",
        "properties" : {
          "existing" : {
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "The existing parameters that were already provided.",
            "type" : "object"
          },
          "missing" : {
            "description" : "The existing parameters that were already provided.",
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          }
        },
        "type" : "object"
      },
      "MvpdLogoutResponse" : {
        "description" : "Mvpd logout response",
        "properties" : {
          "actionName" : {
            "description" : "The action to be performed in a user-agent.",
            "type" : "string"
          },
          "actionType" : {
            "description" : "The type of interaction the client application must perform in order to continue the flow with the action specified by the parameter \"actionName\".",
            "type" : "string"
          },
          "mvpd" : {
            "description" : "The internal unique identifier associated with an Identity Provider during on-boarding process.",
            "type" : "string"
          },
          "url" : {
            "description" : "The logout URL used to perform logout flow with the MVPD endpoint. It is not present when: actionName=complete or actionName=invalid.",
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "ErrorInformation" : {
        "properties" : {
          "action" : {
            "type" : "string"
          },
          "code" : {
            "type" : "string"
          },
          "details" : {
            "type" : "string"
          },
          "helpUrl" : {
            "type" : "string"
          },
          "message" : {
            "$ref" : "#/components/schemas/Message"
          },
          "status" : {
            "format" : "int32",
            "type" : "integer"
          },
          "trace" : {
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "ProgrammerType" : {
        "properties" : {
          "channels" : {
            "type" : "string"
          },
          "domains" : {
            "items" : {
              "$ref" : "#/components/schemas/Domain"
            },
            "type" : "array"
          },
          "id" : {
            "type" : "string"
          },
          "mvpds" : {
            "items" : {
              "$ref" : "#/components/schemas/MvpdType"
            },
            "type" : "array"
          },
          "name" : {
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "MvpdType" : {
        "properties" : {
          "authPerAggregator" : {
            "type" : "boolean"
          },
          "authPerBrowserSession" : {
            "type" : "boolean"
          },
          "boardingStatus" : {
            "type" : "string"
          },
          "displayInPlatformPicker" : {
            "type" : "boolean"
          },
          "displayName" : {
            "type" : "string"
          },
          "enablePlatformServices" : {
            "type" : "boolean"
          },
          "enforcePlatformPermissions" : {
            "type" : "boolean"
          },
          "id" : {
            "type" : "string"
          },
          "isProxy" : {
            "type" : "boolean"
          },
          "isTempPass" : {
            "type" : "boolean"
          },
          "logoUrl" : {
            "type" : "string"
          },
          "passiveAuthnEnabled" : {
            "type" : "boolean"
          },
          "platformMappingId" : {
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "UserMetadataResponse" : {
        "properties" : {
          "error" : {
            "enum" : [ "missing_authentication_code", "authentication_session_invalidated", "authentication_session_missing", "preauthorization_authentication_session_missing", "authentication_session_expired", "preauthorization_authentication_session_expired", "authentication_session_issuer_mismatch", "unknown_integration", "invalid_device_id", "invalid_requestor", "invalid_redirect_url", "invalid_session", "missing_dcr_application", "missing_resource", "missing_resources", "invalid_device_info", "authorization_not_found", "authorization_expired", "malformed_authz_request", "authorization_denied_by_mvpd", "authorization_denied_by_degradation_rule", "authorization_denied_by_degradation_configuration_change", "authorization_denied_by_parental_controls", "authorization_denied_by_session_invalidated", "authorization_denied_by_hba_policies", "identity_not_recognized_by_mvpd", "network_received_error", "invalid_refresh_token", "preauthorization_denied_by_mvpd", "too_many_resources", "invalid_decision_resources", "invalid_mvpd", "network_connection_timeout", "maximum_execution_time_exceeded", "internal_error", "invalid_certificate", "need_to_reauthenticate", "temppass_invalid_identity", "temppass_expired", "temppass_max_resources_exceeded", "temppass_invalid_configuration", "registered_app_mismatch", "invalid_platformid", "invalid_platformtrait", "invalid_platformcategory_trait", "invalid_platform_configuration", "disabled_platform_services", "invalid_mvpd_platform_settings", "unsupported_mvpd_boarding_status", "invalid_profile_exchange_configuration", "invalid_sso_partner", "invalid_sso_partner_saml_response", "degraded_integration", "framework_permissions_not_present", "framework_permissions_not_determined", "framework_permissions_not_granted", "framework_mappingid_not_determined", "framework_mappingid_mismatch" ],
            "type" : "string"
          },
          "state" : {
            "type" : "string"
          },
          "value" : {
            "properties" : { },
            "type" : "object"
          }
        },
        "type" : "object"
      },
      "Domain" : {
        "properties" : {
          "mvpdInitiated" : {
            "type" : "boolean"
          },
          "name" : {
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "SessionResponse" : {
        "description" : "Response object for session requests",
        "properties" : {
          "actionName" : {
            "description" : "The action that primary device need to perform in order to complete authentication flow.",
            "type" : "string"
          },
          "actionType" : {
            "description" : "The type of interaction the client application must perform in order to continue the flow with the action specified by the parameter \"actionName\".",
            "type" : "string"
          },
          "code" : {
            "description" : "The registration code that can be used on the secondary device to continue the authentication flow.",
            "type" : "string"
          },
          "missingParameters" : {
            "description" : "The missing parameters that need to be provided in order to complete the authentication flow.",
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "mvpd" : {
            "description" : "The id of the identity provider.",
            "type" : "string"
          },
          "serviceProvider" : {
            "description" : "The id of the service provider.",
            "type" : "string"
          },
          "sessionId" : {
            "description" : "The opaque identifier that can be used for tracking user activity.",
            "type" : "string"
          },
          "url" : {
            "description" : "The url where the application needs to navigate.",
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "MvpdProfileResponse" : {
        "description" : "Mvpd profile response",
        "properties" : {
          "attributes" : {
            "additionalProperties" : {
              "$ref" : "#/components/schemas/UserMetadataResponse"
            },
            "description" : "The list of user metadata attributes. These attributes can be mandatory (userId) or non-mandatory (the rest of the user metadata fields like zip, householdId, maxRating, etc.).",
[...]
