{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Identity API",
    "version" : "V2"
  },
  "servers" : [ {
    "url" : "https://sp.auth.adobe.com/api/v2"
  } ],
  "tags" : [ {
    "description" : "It can be used to verify service token identity.",
    "name" : "1. Platform Identity API"
  }, {
    "description" : "It can be used to handle service token.",
    "name" : "2. Service Token Identity API"
  } ],
  "paths" : {
    "/identities" : {
      "get" : {
        "description" : "Checks if the received service token identity (via the Adobe-Subject-Token header) is valid and returns information extracted from the jwt payload",
        "operationId" : "verifyUsingGET_1",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/PlatformIdentity"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "OK"
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request is invalid, the client needs to correct the request and try again. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [[Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed. The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section."
          }
        },
        "summary" : "Verify the service token identity",
        "tags" : [ "1. Platform Identity API" ]
      },
      "post" : {
        "description" : "Checks if the received service token identity (via the Adobe-Subject-Token header) is valid and returns information extracted from the jwt payload",
        "operationId" : "verifyUsingPOST_1",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/PlatformIdentity"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "OK"
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request is invalid, the client needs to correct the request and try again. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [[Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed. The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section."
          }
        },
        "summary" : "Verify the service token identity",
        "tags" : [ "1. Platform Identity API" ]
      }
    },
    "/identities/certificates" : {
      "get" : {
        "description" : "Returns the full list of public certificates that can be used to encrypt the jwt platform identity payload",
        "operationId" : "getCertificatesUsingGET",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/CertificateInfo"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "OK"
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request is invalid, the client needs to correct the request and try again. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [[Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed. The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section."
          }
        },
        "summary" : "Get certificates",
        "tags" : [ "1. Platform Identity API" ]
      }
    },
    "/identities/certificates/{sn}" : {
      "get" : {
        "description" : "Returns the list of public certificates matching a serial number that can be used to encrypt the jwt platform identity payload",
        "operationId" : "getCertificateBySerialNumberUsingGET_1",
        "parameters" : [ {
          "description" : "sn",
          "in" : "path",
          "name" : "sn",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "description" : "OK"
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request is invalid, the client needs to correct the request and try again. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [[Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed. The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section."
          }
        },
        "summary" : "Get certificates by serial number",
        "tags" : [ "1. Platform Identity API" ]
      }
    },
    "/identities/servicetoken" : {
      "get" : {
        "description" : "Checks if the received service token identity (via the AD-Service-Token header) is valid and returns information extracted from the jwt payload",
        "operationId" : "verifyUsingGET_2",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/ServiceTokenIdentity"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "OK"
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request is invalid, the client needs to correct the request and try again. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [[Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed. The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section."
          }
        },
        "summary" : "Verify the service token identity",
        "tags" : [ "2. Service Token Identity API" ]
      },
      "post" : {
        "description" : "Checks if the received service token identity (via the AD-Service-Token header) is valid and returns information extracted from the jwt payload",
        "operationId" : "verifyUsingPOST_2",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/ServiceTokenIdentity"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "OK"
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request is invalid, the client needs to correct the request and try again. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [[Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed. The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section."
          }
        },
        "summary" : "Verify the service token identity",
        "tags" : [ "2. Service Token Identity API" ]
      }
    },
    "/identities/servicetoken/certificates" : {
      "get" : {
        "description" : "Returns the full list of public certificates that can be used to encrypt the jwt service token identity payload",
        "operationId" : "getCertificatesUsingGET_4",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/CertificateInfo"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "OK"
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request is invalid, the client needs to correct the request and try again. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [[Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed. The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section."
          }
        },
        "summary" : "Get certificates",
        "tags" : [ "2. Service Token Identity API" ]
      }
    },
    "/identities/servicetoken/certificates/{sn}" : {
      "get" : {
        "description" : "Returns the list of public certificates matching a serial number that can be used to encrypt the jwt service token identity payload",
        "operationId" : "getCertificateBySerialNumberUsingGET_3",
        "parameters" : [ {
          "description" : "sn",
          "in" : "path",
          "name" : "sn",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "description" : "OK"
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request is invalid, the client needs to correct the request and try again. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [[Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed. The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section."
          }
        },
        "summary" : "Get certificates by serial number",
        "tags" : [ "2. Service Token Identity API" ]
      }
    },
    "/identities/{issuer}/certificates" : {
      "get" : {
        "description" : "Exposes the certificates which can be used to encrypt platform identity issued by a partner. Currently we are going to return only the first certificate in the list.",
        "operationId" : "getCertificatesUsingGET_3",
        "parameters" : [ {
          "description" : "issuer",
          "in" : "path",
          "name" : "issuer",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/CertificateInfo"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "OK"
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request is invalid, the client needs to correct the request and try again. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [[Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed. The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section."
          }
        },
        "summary" : "Get certificates by issuer",
        "tags" : [ "1. Platform Identity API" ]
      }
    },
    "/identities/{issuer}/certificates/{sn}" : {
      "get" : {
        "description" : "Exposes the certificates which can be used to encrypt platform identity issued by a partner andmatch a serial number.",
        "operationId" : "getCertificateUsingGET_1",
        "parameters" : [ {
          "description" : "issuer",
          "in" : "path",
          "name" : "issuer",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "sn",
          "in" : "path",
          "name" : "sn",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "description" : "OK"
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request is invalid, the client needs to correct the request and try again. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is invalid, the client needs to obtain a new access token and try again. For more details refer to the [[Dynamic Client Registration](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/dcr-api/dynamic-client-registration-overview) documentation."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. The server side encountered an issue. The response body may contain error information that adheres to the [Enhanced Error Codes](https://experienceleague.adobe.com/en/docs/pass/authentication/auth-features/error-reportn/enhanced-error-codes) documentation."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed. The HTTP method is invalid, the client needs to use an HTTP method that is permitted for the requested resource and try again. For more details refer to the Request section."
          }
        },
        "summary" : "Get certificates by issuer and serial number",
        "tags" : [ "1. Platform Identity API" ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ServiceTokenIdentity" : {
        "properties" : {
          "issuer" : {
            "type" : "string"
          },
          "subject" : {
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "CertificateInfo" : {
        "properties" : {
          "base64Pem" : {
            "type" : "string"
          },
          "issuer" : {
            "type" : "string"
          },
          "notAfter" : {
            "format" : "date-time",
            "type" : "string"
          },
          "notBefore" : {
            "format" : "date-time",
            "type" : "string"
          },
          "serialNumber" : {
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "PlatformIdentity" : {
        "properties" : {
          "device" : {
            "type" : "string"
          },
          "issuer" : {
            "type" : "string"
          },
          "platform" : {
            "type" : "string"
          },
          "subject" : {
            "type" : "string"
          }
        },
        "type" : "object"
      }
    }
  },
  "x-original-swagger-version" : "2.0"
}