{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "One Api",
    "version" : "2.0"
  },
  "servers" : [ {
    "url" : "https://sp.auth.adobe.com/restv2/api/v2"
  } ],
  "tags" : [ {
    "description" : "It can be used to obtain an authorization/preauthorization decision/s for one resource.",
    "name" : "Decision Controller"
  }, {
    "description" : "It can be used to initiate user authentication.",
    "name" : "Sessions Controller"
  }, {
    "description" : "It can be used to obtain information about authenticated profiles found in the Adobe Pass Authentication services for the respective device and application.",
    "name" : "Profiles Controller"
  }, {
    "description" : "It can be used to retrieve the configuration associated with a particular Service Provider.",
    "name" : "Configuration Controller"
  }, {
    "description" : "It deletes the authenticated profiles found in the backend for the specific device, client application and specified MVPD.",
    "name" : "Logout Controller"
  }, {
    "description" : "It can be used to handle partner authentication.",
    "name" : "Partner SSO Controller"
  } ],
  "paths" : {
    "/authenticate/{serviceProvider}/{code}" : {
      "get" : {
        "description" : "Perform authentication in user agent",
        "operationId" : "startAuthenticationUsingGET",
        "parameters" : [ {
          "description" : "The registration code obtained after starting authentication on the primary device",
          "in" : "path",
          "name" : "code",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The internal unique identifier associated with a Service Provider during on-boarding process.",
          "in" : "path",
          "name" : "serviceProvider",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application. If specified it must always be application/json.",
          "in" : "header",
          "name" : "Accept",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The user agent of the client application.",
          "in" : "header",
          "name" : "User-Agent",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : { },
            "description" : "OK"
          },
          "302" : {
            "content" : { },
            "description" : "Redirect. The response contains a location redirect to continue the flow until reaching the MVPD login page."
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request was invalid. Check the JSON-based error information provided in the response body."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is not valid, the client application needs to obtain a new one using the information from dynamic client registration process."
          },
          "404" : {
            "content" : { },
            "description" : "Not found. There is no authentication session found on Adobe Primetime Authentication backend."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed.The client tried to use an HTTP methods that the specified resource doesn't allow."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. Something is broken on Adobe Primetime Authentication services side. The JSON-based error information provided in the response body will explain further."
          }
        },
        "summary" : "Start authentication session",
        "tags" : [ "Sessions Controller" ]
      }
    },
    "/{serviceProvider}/configuration" : {
      "get" : {
        "description" : "The Configuration API can be used to retrieve the configuration associated with a particular Service Provider.",
        "operationId" : "handleRequestUsingGET_1",
        "parameters" : [ {
          "description" : "Provide profile id",
          "in" : "query",
          "name" : "profile",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The internal unique identifier associated with a Service Provider during on-boarding process.",
          "in" : "path",
          "name" : "serviceProvider",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The authorization header containing OAuth2 access token obtained through dynamic client registration process.",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The application device identifier as described in AP-Device-Identifier.",
          "in" : "header",
          "name" : "AP-Device-Identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Strongly recommended to use it always when the application's device platform allows to provide valid values explicitly.",
          "in" : "header",
          "name" : "X-Device-Info",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Streaming Device IP address. Must use it only for Server-to-Server implementations when the call is made by the Programmer Service and not the Streaming Device, while for Client-to-Server implementations, the Streaming Device IP address is implicitly sent.",
          "in" : "header",
          "name" : "X-Forwarded-For",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The SDK identifier as specified in AP-SDK-Identifier. Must use it only by an Adobe Primetime Authentication SDK.",
          "in" : "header",
          "name" : "AP-SDK-Identifier",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application. If specified it must always be application/json.",
          "in" : "header",
          "name" : "Accept",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The user agent of the client application.",
          "in" : "header",
          "name" : "User-Agent",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConfigurationResponse"
                }
              }
            },
            "description" : "OK"
          },
          "302" : {
            "content" : { },
            "description" : "Redirect. The response contains a location redirect to continue the flow until reaching the MVPD login page."
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request was invalid. Check the JSON-based error information provided in the response body."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is not valid, the client application needs to obtain a new one using the information from dynamic client registration process."
          },
          "404" : {
            "content" : { },
            "description" : "Not found. There is no authentication session found on Adobe Primetime Authentication backend."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed.The client tried to use an HTTP methods that the specified resource doesn't allow."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. Something is broken on Adobe Primetime Authentication services side. The JSON-based error information provided in the response body will explain further."
          }
        },
        "summary" : "Retrieve configuration for specific service provider",
        "tags" : [ "Configuration Controller" ]
      }
    },
    "/{serviceProvider}/decisions/authorize/{mvpd}" : {
      "post" : {
        "description" : "In order to perform the preauthorization flow, a valid authenticated profile must be found in the backend for the specified MVPD. If there is no authenticated profile found in the backend for the specified MVPD, then a validation error is returned in the response body, as described in Public APIs - Error codes.",
        "operationId" : "retrieveAuthorizeDecisionsForMvpdUsingPOST_1",
        "parameters" : [ {
          "description" : "The internal unique identifier associated with an Identity Provider during on-boarding process.",
          "in" : "path",
          "name" : "mvpd",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The internal unique identifier associated with a Service Provider during on-boarding process.",
          "in" : "path",
          "name" : "serviceProvider",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The authorization header containing OAuth2 access token obtained through dynamic client registration process.",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The application device identifier as described in AP-Device-Identifier.",
          "in" : "header",
          "name" : "AP-Device-Identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Strongly recommended to use it always when the application's device platform allows to provide valid values explicitly.",
          "in" : "header",
          "name" : "X-Device-Info",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Streaming Device IP address. Must use it only for Server-to-Server implementations when the call is made by the Programmer Service and not the Streaming Device, while for Client-to-Server implementations, the Streaming Device IP address is implicitly sent.",
          "in" : "header",
          "name" : "X-Forwarded-For",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Adobe Pass Authentication backend application can also make use of authenticated profiles obtained through Single Sign-On using Platform Identity method",
          "in" : "header",
          "name" : "Adobe-Subject-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Adobe Pass Authentication backend application can also make use of authenticated profiles obtained through Single Sign-On using Service Token method",
          "in" : "header",
          "name" : "AD-Service-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The SDK identifier as specified in AP-SDK-Identifier. Must use it only by an Adobe Primetime Authentication SDK.",
          "in" : "header",
          "name" : "AP-SDK-Identifier",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The end-user platform identity as specified in Platform requirements for Adobe SSO.",
          "in" : "header",
          "name" : "AP-Subject-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application. If specified it must always be application/json.",
          "in" : "header",
          "name" : "Accept",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the Adobe Primetime Authentication backend application. If specified it must always be application/json.",
          "in" : "header",
          "name" : "Content-Type",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Base64-encoded payload containing the partner framework status.",
          "in" : "header",
          "name" : "AP-Partner-Framework-Status",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "items" : {
                  "type" : "string"
                },
                "type" : "array"
              }
            }
          },
          "description" : "A list of resourceIds that identifies the content that might be accessible to a user and is recognized by MVPD authorization endpoints.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DecisionsResponse"
                }
              }
            },
            "description" : "OK"
          },
          "302" : {
            "content" : { },
            "description" : "Redirect. The response contains a location redirect to continue the flow until reaching the MVPD login page."
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request was invalid. Check the JSON-based error information provided in the response body."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is not valid, the client application needs to obtain a new one using the information from dynamic client registration process."
          },
          "404" : {
            "content" : { },
            "description" : "Not found. There is no authentication session found on Adobe Primetime Authentication backend."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed.The client tried to use an HTTP methods that the specified resource doesn't allow."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. Something is broken on Adobe Primetime Authentication services side. The JSON-based error information provided in the response body will explain further."
          }
        },
        "summary" : "Retrieve authorization decisions using specific MVPD",
        "tags" : [ "Decision Controller" ],
        "x-codegen-request-body-name" : "resources"
      }
    },
    "/{serviceProvider}/decisions/preauthorize/{mvpd}" : {
      "post" : {
        "description" : "In order to perform the preauthorization flow, a valid authenticated profile must be found in the backend for the specified MVPD. If there is no authenticated profile found in the backend for the specified MVPD, then a validation error is returned in the response body, as described in Public APIs - Error codes.",
        "operationId" : "retrievePreAuthorizeDecisionsForMvpdUsingPOST",
        "parameters" : [ {
          "description" : "The internal unique identifier associated with an Identity Provider during on-boarding process.",
          "in" : "path",
          "name" : "mvpd",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The internal unique identifier associated with a Service Provider during on-boarding process.",
          "in" : "path",
          "name" : "serviceProvider",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The authorization header containing OAuth2 access token obtained through dynamic client registration process.",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The application device identifier as described in AP-Device-Identifier.",
          "in" : "header",
          "name" : "AP-Device-Identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Strongly recommended to use it always when the application's device platform allows to provide valid values explicitly.",
          "in" : "header",
          "name" : "X-Device-Info",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Streaming Device IP address. Must use it only for Server-to-Server implementations when the call is made by the Programmer Service and not the Streaming Device, while for Client-to-Server implementations, the Streaming Device IP address is implicitly sent.",
          "in" : "header",
          "name" : "X-Forwarded-For",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Adobe Pass Authentication backend application can also make use of authenticated profiles obtained through Single Sign-On using Platform Identity method",
          "in" : "header",
          "name" : "Adobe-Subject-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Adobe Pass Authentication backend application can also make use of authenticated profiles obtained through Single Sign-On using Service Token method",
          "in" : "header",
          "name" : "AD-Service-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The SDK identifier as specified in AP-SDK-Identifier. Must use it only by an Adobe Primetime Authentication SDK.",
          "in" : "header",
          "name" : "AP-SDK-Identifier",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The end-user platform identity as specified in Platform requirements for Adobe SSO.",
          "in" : "header",
          "name" : "AP-Subject-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application. If specified it must always be application/json.",
          "in" : "header",
          "name" : "Accept",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the Adobe Primetime Authentication backend application. If specified it must always be application/json.",
          "in" : "header",
          "name" : "Content-Type",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Base64-encoded payload containing the partner framework status.",
          "in" : "header",
          "name" : "AP-Partner-Framework-Status",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "items" : {
                  "type" : "string"
                },
                "type" : "array"
              }
            }
          },
          "description" : "A list of resourceIds that identifies the content that might be accessible to a user and is recognized by MVPD authorization endpoints.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DecisionsResponse"
                }
              }
            },
            "description" : "OK"
          },
          "302" : {
            "content" : { },
            "description" : "Redirect. The response contains a location redirect to continue the flow until reaching the MVPD login page."
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request was invalid. Check the JSON-based error information provided in the response body."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is not valid, the client application needs to obtain a new one using the information from dynamic client registration process."
          },
          "404" : {
            "content" : { },
            "description" : "Not found. There is no authentication session found on Adobe Primetime Authentication backend."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed.The client tried to use an HTTP methods that the specified resource doesn't allow."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. Something is broken on Adobe Primetime Authentication services side. The JSON-based error information provided in the response body will explain further."
          }
        },
        "summary" : "Retrieve preauthorization decisions using specific MVPD",
        "tags" : [ "Decision Controller" ],
        "x-codegen-request-body-name" : "resources"
      }
    },
    "/{serviceProvider}/logout/{mvpd}" : {
      "get" : {
        "description" : "The logout service performs the following: deletes the authenticated profiles found in the backend for the specific device, client application and specified MVPD returns a list of actions the client application must perform in order to finalize the logout flow for the authenticated profile with specified MVPD",
        "operationId" : "getLogoutForMvpdUsingGET",
        "parameters" : [ {
          "description" : "The internal unique identifier associated with an Identity Provider during on-boarding process.",
          "in" : "path",
          "name" : "mvpd",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The final redirect url where the programmer application navigates to when the logout final is completed with the mvpd. This parameter needs to be included when the programmer application initiates the logout flow with the mvpd using the \"url\" attribute received in OneAPI logout response.",
          "in" : "query",
          "name" : "redirectUrl",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The internal unique identifier associated with a Service Provider during on-boarding process.",
          "in" : "path",
          "name" : "serviceProvider",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The authorization header containing OAuth2 access token obtained through dynamic client registration process.",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The application device identifier as described in AP-Device-Identifier.",
          "in" : "header",
          "name" : "AP-Device-Identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Strongly recommended to use it always when the application's device platform allows to provide valid values explicitly.",
          "in" : "header",
          "name" : "X-Device-Info",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Streaming Device IP address. Must use it only for Server-to-Server implementations when the call is made by the Programmer Service and not the Streaming Device, while for Client-to-Server implementations, the Streaming Device IP address is implicitly sent.",
          "in" : "header",
          "name" : "X-Forwarded-For",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Adobe Pass Authentication backend application can also make use of authenticated profiles obtained through Single Sign-On using Platform Identity method",
          "in" : "header",
          "name" : "Adobe-Subject-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Adobe Pass Authentication backend application can also make use of authenticated profiles obtained through Single Sign-On using Service Token method",
          "in" : "header",
          "name" : "AD-Service-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The SDK identifier as specified in AP-SDK-Identifier. Must use it only by an Adobe Primetime Authentication SDK.",
          "in" : "header",
          "name" : "AP-SDK-Identifier",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application. If specified it must always be application/json.",
          "in" : "header",
          "name" : "Accept",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The user agent of the client application.",
          "in" : "header",
          "name" : "User-Agent",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LogoutResponse"
                }
              }
            },
            "description" : "OK"
          },
          "302" : {
            "content" : { },
            "description" : "Redirect. The response contains a location redirect to continue the flow until reaching the MVPD login page."
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request was invalid. Check the JSON-based error information provided in the response body."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is not valid, the client application needs to obtain a new one using the information from dynamic client registration process."
          },
          "404" : {
            "content" : { },
            "description" : "Not found. There is no authentication session found on Adobe Primetime Authentication backend."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed.The client tried to use an HTTP methods that the specified resource doesn't allow."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. Something is broken on Adobe Primetime Authentication services side. The JSON-based error information provided in the response body will explain further."
          }
        },
        "summary" : "Initiate logout for all authenticated profiles of specific MVPD",
        "tags" : [ "Logout Controller" ]
      }
    },
    "/{serviceProvider}/profiles" : {
      "get" : {
        "description" : "The profiles service performs the following: returns the authenticated profiles found in the Adobe Primetime Authentication backend for the respective device and application, each authenticated profile representing an authenticated user with a specific MVPD",
        "operationId" : "getProfilesUsingGET_1",
        "parameters" : [ {
          "description" : "The internal unique identifier associated with a Service Provider during on-boarding process.",
          "in" : "path",
          "name" : "serviceProvider",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The application device identifier as described in AP-Device-Identifier.",
          "in" : "header",
          "name" : "AP-Device-Identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Strongly recommended to use it always when the application's device platform allows to provide valid values explicitly.",
          "in" : "header",
          "name" : "X-Device-Info",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Streaming Device IP address. Must use it only for Server-to-Server implementations when the call is made by the Programmer Service and not the Streaming Device, while for Client-to-Server implementations, the Streaming Device IP address is implicitly sent.",
          "in" : "header",
          "name" : "X-Forwarded-For",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Adobe Pass Authentication backend application can also make use of authenticated profiles obtained through Single Sign-On using Platform Identity method",
          "in" : "header",
          "name" : "Adobe-Subject-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Adobe Pass Authentication backend application can also make use of authenticated profiles obtained through Single Sign-On using Service Token method",
          "in" : "header",
          "name" : "AD-Service-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Base64-encoded payload containing the partner framework status.",
          "in" : "header",
          "name" : "AP-Partner-Framework-Status",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The SDK identifier as specified in AP-SDK-Identifier. Must use it only by an Adobe Primetime Authentication SDK.",
          "in" : "header",
          "name" : "AP-SDK-Identifier",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application. If specified it must always be application/json.",
          "in" : "header",
          "name" : "Accept",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The user agent of the client application.",
          "in" : "header",
          "name" : "User-Agent",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProfilesResponse"
                }
              }
            },
            "description" : "OK"
          },
          "302" : {
            "content" : { },
            "description" : "Redirect. The response contains a location redirect to continue the flow until reaching the MVPD login page."
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request was invalid. Check the JSON-based error information provided in the response body."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is not valid, the client application needs to obtain a new one using the information from dynamic client registration process."
          },
          "404" : {
            "content" : { },
            "description" : "Not found. There is no authentication session found on Adobe Primetime Authentication backend."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed.The client tried to use an HTTP methods that the specified resource doesn't allow."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. Something is broken on Adobe Primetime Authentication services side. The JSON-based error information provided in the response body will explain further."
          }
        },
        "summary" : "Retrieve authenticated profiles",
        "tags" : [ "Profiles Controller" ]
      }
    },
    "/{serviceProvider}/profiles/sso/{partner}" : {
      "post" : {
        "description" : "The partner SSO application sends the mvpd profile information and Pass server saves the profile information in order to use it for decisions calls.",
        "operationId" : "createPartnerProfileUsingPOST_1",
        "parameters" : [ {
          "description" : "The name of the partner (e.g. Apple) providing the sso framework that is integrated with Pass flows.",
          "in" : "path",
          "name" : "partner",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The internal unique identifier associated with a Service Provider during on-boarding process.",
          "in" : "path",
          "name" : "serviceProvider",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The authorization header containing OAuth2 access token obtained through dynamic client registration process.",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The application device identifier as described in AP-Device-Identifier.",
          "in" : "header",
          "name" : "AP-Device-Identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Strongly recommended to use it always when the application's device platform allows to provide valid values explicitly.",
          "in" : "header",
          "name" : "X-Device-Info",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Streaming Device IP address. Must use it only for Server-to-Server implementations when the call is made by the Programmer Service and not the Streaming Device, while for Client-to-Server implementations, the Streaming Device IP address is implicitly sent.",
          "in" : "header",
          "name" : "X-Forwarded-For",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Base64-encoded payload containing the partner framework status.",
          "in" : "header",
          "name" : "AP-Partner-Framework-Status",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The SDK identifier as specified in AP-SDK-Identifier. Must use it only by an Adobe Primetime Authentication SDK.",
          "in" : "header",
          "name" : "AP-SDK-Identifier",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "string"
              }
            }
          },
          "description" : "The Platform SSO profile response containing the needed user metadata for creating a valid authentication token.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProfilesResponse"
                }
              }
            },
            "description" : "OK"
          },
          "302" : {
            "content" : { },
            "description" : "Redirect. The response contains a location redirect to continue the flow until reaching the MVPD login page."
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request was invalid. Check the JSON-based error information provided in the response body."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is not valid, the client application needs to obtain a new one using the information from dynamic client registration process."
          },
          "404" : {
            "content" : { },
            "description" : "Not found. There is no authentication session found on Adobe Primetime Authentication backend."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed.The client tried to use an HTTP methods that the specified resource doesn't allow."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. Something is broken on Adobe Primetime Authentication services side. The JSON-based error information provided in the response body will explain further."
          }
        },
        "summary" : "Retrieve authenticated profile using partner authentication response",
        "tags" : [ "Partner SSO Controller" ],
        "x-codegen-request-body-name" : "SAMLResponse"
      }
    },
    "/{serviceProvider}/profiles/{mvpd}" : {
      "get" : {
        "description" : "The profiles service performs the following: returns the authenticated profiles found in the Adobe Primetime Authentication backend for the respective device, application and specific MVPD provided as a path parameter.",
        "operationId" : "getProfileForMvpdUsingGET",
        "parameters" : [ {
          "description" : "The internal unique identifier associated with an Identity Provider during on-boarding process.",
          "in" : "path",
          "name" : "mvpd",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The internal unique identifier associated with a Service Provider during on-boarding process.",
          "in" : "path",
          "name" : "serviceProvider",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The application device identifier as described in AP-Device-Identifier.",
          "in" : "header",
          "name" : "AP-Device-Identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Strongly recommended to use it always when the application's device platform allows to provide valid values explicitly.",
          "in" : "header",
          "name" : "X-Device-Info",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Streaming Device IP address. Must use it only for Server-to-Server implementations when the call is made by the Programmer Service and not the Streaming Device, while for Client-to-Server implementations, the Streaming Device IP address is implicitly sent.",
          "in" : "header",
          "name" : "X-Forwarded-For",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Adobe Pass Authentication backend application can also make use of authenticated profiles obtained through Single Sign-On using Platform Identity method",
          "in" : "header",
          "name" : "Adobe-Subject-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Adobe Pass Authentication backend application can also make use of authenticated profiles obtained through Single Sign-On using Service Token method",
          "in" : "header",
          "name" : "AD-Service-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Base64-encoded payload containing the partner framework status.",
          "in" : "header",
          "name" : "AP-Partner-Framework-Status",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The SDK identifier as specified in AP-SDK-Identifier. Must use it only by an Adobe Primetime Authentication SDK.",
          "in" : "header",
          "name" : "AP-SDK-Identifier",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application. If specified it must always be application/json.",
          "in" : "header",
          "name" : "Accept",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The user agent of the client application.",
          "in" : "header",
          "name" : "User-Agent",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The application user information as specified in Flexible Temporary Pass Identity.",
          "in" : "header",
          "name" : "AP-TempPass-Identity",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProfilesResponse"
                }
              }
            },
            "description" : "OK"
          },
          "302" : {
            "content" : { },
            "description" : "Redirect. The response contains a location redirect to continue the flow until reaching the MVPD login page."
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request was invalid. Check the JSON-based error information provided in the response body."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is not valid, the client application needs to obtain a new one using the information from dynamic client registration process."
          },
          "404" : {
            "content" : { },
            "description" : "Not found. There is no authentication session found on Adobe Primetime Authentication backend."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed.The client tried to use an HTTP methods that the specified resource doesn't allow."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. Something is broken on Adobe Primetime Authentication services side. The JSON-based error information provided in the response body will explain further."
          }
        },
        "summary" : "Retrieve authenticated profiles for specific MVPD",
        "tags" : [ "Profiles Controller" ]
      }
    },
    "/{serviceProvider}/profiles/{mvpd}/{code}" : {
      "get" : {
        "description" : "The profiles service performs the following: returns the authenticated profiles found in the Adobe Primetime Authentication backend for the respective device, application, mvpd and specific registration code provided as a path parameter.",
        "operationId" : "getProfileForMvpdAndForCodeUsingGET",
        "parameters" : [ {
          "description" : "The registration code obtained after starting authentication on the primary device",
          "in" : "path",
          "name" : "code",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The internal unique identifier associated with an Identity Provider during on-boarding process.",
          "in" : "path",
          "name" : "mvpd",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The internal unique identifier associated with a Service Provider during on-boarding process.",
          "in" : "path",
          "name" : "serviceProvider",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The authorization header containing OAuth2 access token obtained through dynamic client registration process.",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The application device identifier as described in AP-Device-Identifier.",
          "in" : "header",
          "name" : "AP-Device-Identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Strongly recommended to use it always when the application's device platform allows to provide valid values explicitly.",
          "in" : "header",
          "name" : "X-Device-Info",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Streaming Device IP address. Must use it only for Server-to-Server implementations when the call is made by the Programmer Service and not the Streaming Device, while for Client-to-Server implementations, the Streaming Device IP address is implicitly sent.",
          "in" : "header",
          "name" : "X-Forwarded-For",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Adobe Pass Authentication backend application can also make use of authenticated profiles obtained through Single Sign-On using Platform Identity method",
          "in" : "header",
          "name" : "Adobe-Subject-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Adobe Pass Authentication backend application can also make use of authenticated profiles obtained through Single Sign-On using Service Token method",
          "in" : "header",
          "name" : "AD-Service-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The SDK identifier as specified in AP-SDK-Identifier. Must use it only by an Adobe Primetime Authentication SDK.",
          "in" : "header",
          "name" : "AP-SDK-Identifier",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application. If specified it must always be application/json.",
          "in" : "header",
          "name" : "Accept",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The user agent of the client application.",
          "in" : "header",
          "name" : "User-Agent",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProfilesResponse"
                }
              }
            },
            "description" : "OK"
          },
          "302" : {
            "content" : { },
            "description" : "Redirect. The response contains a location redirect to continue the flow until reaching the MVPD login page."
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request was invalid. Check the JSON-based error information provided in the response body."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is not valid, the client application needs to obtain a new one using the information from dynamic client registration process."
          },
          "404" : {
            "content" : { },
            "description" : "Not found. There is no authentication session found on Adobe Primetime Authentication backend."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed.The client tried to use an HTTP methods that the specified resource doesn't allow."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. Something is broken on Adobe Primetime Authentication services side. The JSON-based error information provided in the response body will explain further."
          }
        },
        "summary" : "Retrieve authenticated profiles for specific MVPD and specific code\n",
        "tags" : [ "Profiles Controller" ]
      }
    },
    "/{serviceProvider}/sessions" : {
      "post" : {
        "description" : "In order to initiate the authentication session from a primary device only a valid serviceProvider parameter value must be provided, while the mvpd, domainName and redirectUrl parameter values may be provided in a later call.",
        "operationId" : "createSessionUsingPOST",
        "parameters" : [ {
          "description" : "The internal unique identifier associated with a Service Provider during on-boarding process.",
          "in" : "path",
          "name" : "serviceProvider",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The authorization header containing OAuth2 access token obtained through dynamic client registration process.",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The application device identifier as described in AP-Device-Identifier.",
          "in" : "header",
          "name" : "AP-Device-Identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Strongly recommended to use it always when the application's device platform allows to provide valid values explicitly.",
          "in" : "header",
          "name" : "X-Device-Info",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Streaming Device IP address. Must use it only for Server-to-Server implementations when the call is made by the Programmer Service and not the Streaming Device, while for Client-to-Server implementations, the Streaming Device IP address is implicitly sent.",
          "in" : "header",
          "name" : "X-Forwarded-For",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Adobe Pass Authentication backend application can also make use of authenticated profiles obtained through Single Sign-On using Platform Identity method",
          "in" : "header",
          "name" : "Adobe-Subject-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Adobe Pass Authentication backend application can also make use of authenticated profiles obtained through Single Sign-On using Service Token method",
          "in" : "header",
          "name" : "AD-Service-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The SDK identifier as specified in AP-SDK-Identifier. Must use it only by an Adobe Primetime Authentication SDK.",
          "in" : "header",
          "name" : "AP-SDK-Identifier",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The end-user platform identity as specified in Platform requirements for Adobe SSO.",
          "in" : "header",
          "name" : "AP-Subject-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application. If specified it must always be application/json.",
          "in" : "header",
          "name" : "Accept",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the Adobe Primetime Authentication backend application. If specified it must always be application/json.",
          "in" : "header",
          "name" : "Content-Type",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The user agent of the client application.",
          "in" : "header",
          "name" : "User-Agent",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/createSessionUsingPOST_request"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SessionResponse"
                }
              }
            },
            "description" : "OK"
          },
          "302" : {
            "content" : { },
            "description" : "Redirect. The response contains a location redirect to continue the flow until reaching the MVPD login page."
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request was invalid. Check the JSON-based error information provided in the response body."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is not valid, the client application needs to obtain a new one using the information from dynamic client registration process."
          },
          "404" : {
            "content" : { },
            "description" : "Not found. There is no authentication session found on Adobe Primetime Authentication backend."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed.The client tried to use an HTTP methods that the specified resource doesn't allow."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. Something is broken on Adobe Primetime Authentication services side. The JSON-based error information provided in the response body will explain further."
          }
        },
        "summary" : "Create authentication session",
        "tags" : [ "Sessions Controller" ]
      }
    },
    "/{serviceProvider}/sessions/sso/{partner}" : {
      "post" : {
        "description" : "This endpoint returns a verification code which is essentially the authentication request. The format should follow the general rules of the OneAPI endpoints so it is a json-formatted body. For degraded integrations, return a json response indicating that the integration is degraded and the next call should be the one in /decisions endpoint.",
        "operationId" : "retrieveVerificationTokenUsingPOST_1",
        "parameters" : [ {
          "description" : "The name of the partner (e.g. Apple) providing the sso framework that is integrated with Pass flows.",
          "in" : "path",
          "name" : "partner",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The internal unique identifier associated with a Service Provider during on-boarding process.",
          "in" : "path",
          "name" : "serviceProvider",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The authorization header containing OAuth2 access token obtained through dynamic client registration process.",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The application device identifier as described in AP-Device-Identifier.",
          "in" : "header",
          "name" : "AP-Device-Identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Strongly recommended to use it always when the application's device platform allows to provide valid values explicitly.",
          "in" : "header",
          "name" : "X-Device-Info",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Streaming Device IP address. Must use it only for Server-to-Server implementations when the call is made by the Programmer Service and not the Streaming Device, while for Client-to-Server implementations, the Streaming Device IP address is implicitly sent.",
          "in" : "header",
          "name" : "X-Forwarded-For",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Base64-encoded payload containing the partner framework status.",
          "in" : "header",
          "name" : "AP-Partner-Framework-Status",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The SDK identifier as specified in AP-SDK-Identifier. Must use it only by an Adobe Primetime Authentication SDK.",
          "in" : "header",
          "name" : "AP-SDK-Identifier",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application. If specified it must always be application/json.",
          "in" : "header",
          "name" : "Accept",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the Adobe Primetime Authentication backend application. If specified it must always be application/json.",
          "in" : "header",
          "name" : "Content-Type",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The user agent of the client application.",
          "in" : "header",
          "name" : "User-Agent",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/retrieveVerificationTokenUsingPOST_1_request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SessionResponse"
                }
              }
            },
            "description" : "OK"
          },
          "302" : {
            "content" : { },
            "description" : "Redirect. The response contains a location redirect to continue the flow until reaching the MVPD login page."
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request was invalid. Check the JSON-based error information provided in the response body."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is not valid, the client application needs to obtain a new one using the information from dynamic client registration process."
          },
          "404" : {
            "content" : { },
            "description" : "Not found. There is no authentication session found on Adobe Primetime Authentication backend."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed.The client tried to use an HTTP methods that the specified resource doesn't allow."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. Something is broken on Adobe Primetime Authentication services side. The JSON-based error information provided in the response body will explain further."
          }
        },
        "summary" : "Retrieve partner authentication request",
        "tags" : [ "Partner SSO Controller" ]
      }
    },
    "/{serviceProvider}/sessions/{code}" : {
      "get" : {
        "description" : "Retrieve information for existing authentication session using registration code",
        "operationId" : "getSessionStatusUsingGET_1",
        "parameters" : [ {
          "description" : "The registration code obtained after starting authentication on the primary device",
          "in" : "path",
          "name" : "code",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The internal unique identifier associated with a Service Provider during on-boarding process.",
          "in" : "path",
          "name" : "serviceProvider",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The authorization header containing OAuth2 access token obtained through dynamic client registration process.",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The application device identifier as described in AP-Device-Identifier.",
          "in" : "header",
          "name" : "AP-Device-Identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Strongly recommended to use it always when the application's device platform allows to provide valid values explicitly.",
          "in" : "header",
          "name" : "X-Device-Info",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Streaming Device IP address. Must use it only for Server-to-Server implementations when the call is made by the Programmer Service and not the Streaming Device, while for Client-to-Server implementations, the Streaming Device IP address is implicitly sent.",
          "in" : "header",
          "name" : "X-Forwarded-For",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The SDK identifier as specified in AP-SDK-Identifier. Must use it only by an Adobe Primetime Authentication SDK.",
          "in" : "header",
          "name" : "AP-SDK-Identifier",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application. If specified it must always be application/json.",
          "in" : "header",
          "name" : "Accept",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The user agent of the client application.",
          "in" : "header",
          "name" : "User-Agent",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SessionStatusResponse"
                }
              }
            },
            "description" : "OK"
          },
          "302" : {
            "content" : { },
            "description" : "Redirect. The response contains a location redirect to continue the flow until reaching the MVPD login page."
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request was invalid. Check the JSON-based error information provided in the response body."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is not valid, the client application needs to obtain a new one using the information from dynamic client registration process."
          },
          "404" : {
            "content" : { },
            "description" : "Not found. There is no authentication session found on Adobe Primetime Authentication backend."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed.The client tried to use an HTTP methods that the specified resource doesn't allow."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. Something is broken on Adobe Primetime Authentication services side. The JSON-based error information provided in the response body will explain further."
          }
        },
        "summary" : "Retrieve authentication session using code",
        "tags" : [ "Sessions Controller" ]
      },
      "post" : {
        "description" : " Continue / update authentication for existing authentication session using registration code",
        "operationId" : "resumeSessionUsingPOST_1",
        "parameters" : [ {
          "description" : "The registration code obtained after starting authentication on the primary device",
          "in" : "path",
          "name" : "code",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The internal unique identifier associated with a Service Provider during on-boarding process.",
          "in" : "path",
          "name" : "serviceProvider",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The authorization header containing OAuth2 access token obtained through dynamic client registration process.",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The application device identifier as described in AP-Device-Identifier.",
          "in" : "header",
          "name" : "AP-Device-Identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Strongly recommended to use it always when the application's device platform allows to provide valid values explicitly.",
          "in" : "header",
          "name" : "X-Device-Info",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Streaming Device IP address. Must use it only for Server-to-Server implementations when the call is made by the Programmer Service and not the Streaming Device, while for Client-to-Server implementations, the Streaming Device IP address is implicitly sent.",
          "in" : "header",
          "name" : "X-Forwarded-For",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Adobe Pass Authentication backend application can also make use of authenticated profiles obtained through Single Sign-On using Platform Identity method",
          "in" : "header",
          "name" : "Adobe-Subject-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The Adobe Pass Authentication backend application can also make use of authenticated profiles obtained through Single Sign-On using Service Token method",
          "in" : "header",
          "name" : "AD-Service-Token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The SDK identifier as specified in AP-SDK-Identifier. Must use it only by an Adobe Primetime Authentication SDK.",
          "in" : "header",
          "name" : "AP-SDK-Identifier",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the client application. If specified it must always be application/json.",
          "in" : "header",
          "name" : "Accept",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The media type accepted by the Adobe Primetime Authentication backend application. If specified it must always be application/json.",
          "in" : "header",
          "name" : "Content-Type",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The user agent of the client application.",
          "in" : "header",
          "name" : "User-Agent",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/createSessionUsingPOST_request"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SessionResponse"
                }
              }
            },
            "description" : "OK"
          },
          "302" : {
            "content" : { },
            "description" : "Redirect. The response contains a location redirect to continue the flow until reaching the MVPD login page."
          },
          "400" : {
            "content" : { },
            "description" : "Bad request. The request was invalid. Check the JSON-based error information provided in the response body."
          },
          "401" : {
            "content" : { },
            "description" : "Unauthorized. The access token is not valid, the client application needs to obtain a new one using the information from dynamic client registration process."
          },
          "404" : {
            "content" : { },
            "description" : "Not found. There is no authentication session found on Adobe Primetime Authentication backend."
          },
          "405" : {
            "content" : { },
            "description" : "Method not allowed.The client tried to use an HTTP methods that the specified resource doesn't allow."
          },
          "500" : {
            "content" : { },
            "description" : "Internal Server Error. Something is broken on Adobe Primetime Authentication services side. The JSON-based error information provided in the response body will explain further."
          }
        },
        "summary" : "Resume authentication session",
        "tags" : [ "Sessions Controller" ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "MediaTokenResponse" : {
        "properties" : {
          "notAfter" : {
            "format" : "int64",
            "type" : "integer"
          },
          "notBefore" : {
            "format" : "int64",
            "type" : "integer"
          },
          "serializedToken" : {
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "ProfilesResponse" : {
        "properties" : {
          "profiles" : {
            "additionalProperties" : {
              "$ref" : "#/components/schemas/MvpdProfileResponse"
            },
            "type" : "object"
          }
        },
        "type" : "object"
      },
      "ConfigurationResponse" : {
        "properties" : {
          "os" : {
            "type" : "string"
          },
          "platform" : {
            "type" : "string"
          },
          "platformCategory" : {
            "type" : "string"
          },
          "requestor" : {
            "$ref" : "#/components/schemas/ProgrammerType"
          },
          "sdkType" : {
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "DecisionResponse" : {
        "description" : "Response object for decision requests",
        "properties" : {
          "authorized" : {
            "description" : "The authorization decision for the resource. Can be either true or false.",
            "example" : false,
            "type" : "boolean"
          },
          "error" : {
            "$ref" : "#/components/schemas/ErrorInformation"
          },
          "mvpd" : {
            "description" : "The internal unique identifier associated with an Identity Provider during on-boarding process.",
            "type" : "string"
          },
          "notAfter" : {
            "format" : "int64",
            "type" : "integer"
          },
          "notBefore" : {
            "format" : "int64",
            "type" : "integer"
          },
          "resource" : {
            "description" : "The resource identifier for which the authorize decision is returned.",
            "type" : "string"
          },
          "serviceProvider" : {
            "description" : "The internal unique identifier associated with a Service Provider during on-boarding process.",
            "type" : "string"
          },
          "source" : {
            "description" : "Information about decision source: degradation, temppass, mvpd or dummy.",
            "type" : "string"
          },
          "token" : {
            "$ref" : "#/components/schemas/MediaTokenResponse"
          }
        },
        "type" : "object"
      },
      "Message" : {
        "type" : "object"
      },
      "LogoutResponse" : {
        "properties" : {
          "logouts" : {
            "additionalProperties" : {
              "$ref" : "#/components/schemas/MvpdLogoutResponse"
            },
            "type" : "object"
          }
        },
        "type" : "object"
      },
      "DecisionsResponse" : {
        "properties" : {
          "decisions" : {
            "items" : {
              "$ref" : "#/components/schemas/DecisionResponse"
            },
            "type" : "array"
          }
        },
        "type" : "object"
      },
      "SessionStatusResponse" : {
        "description" : "Response object for session status requests",
        "properties" : {
          "existing" : {
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "The existing parameters that were already provided.",
            "type" : "object"
          },
          "missing" : {
            "description" : "The existing parameters that were already provided.",
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          }
        },
        "type" : "object"
      },
      "MvpdLogoutResponse" : {
        "description" : "Mvpd logout response",
        "properties" : {
          "actionName" : {
            "description" : "The action to be performed in a user-agent.",
            "type" : "string"
          },
          "actionType" : {
            "description" : "The type of interaction the client application must perform in order to continue the flow with the action specified by the parameter \"actionName\".",
            "type" : "string"
          },
          "mvpd" : {
            "description" : "The internal unique identifier associated with an Identity Provider during on-boarding process.",
            "type" : "string"
          },
          "url" : {
            "description" : "The logout URL used to perform logout flow with the MVPD endpoint. It is not present when: actionName=complete or actionName=invalid.",
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "ErrorInformation" : {
        "properties" : {
          "action" : {
            "type" : "string"
          },
          "code" : {
            "type" : "string"
          },
          "details" : {
            "type" : "string"
          },
          "helpUrl" : {
            "type" : "string"
          },
          "message" : {
            "$ref" : "#/components/schemas/Message"
          },
          "status" : {
            "format" : "int32",
            "type" : "integer"
          },
          "trace" : {
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "ProgrammerType" : {
        "properties" : {
          "channels" : {
            "type" : "string"
          },
          "domains" : {
            "items" : {
              "$ref" : "#/components/schemas/Domain"
            },
            "type" : "array"
          },
          "id" : {
            "type" : "string"
          },
          "mvpds" : {
            "items" : {
              "$ref" : "#/components/schemas/MvpdType"
            },
            "type" : "array"
          },
          "name" : {
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "MvpdType" : {
        "properties" : {
          "authPerAggregator" : {
            "type" : "boolean"
          },
          "authPerBrowserSession" : {
            "type" : "boolean"
          },
          "boardingStatus" : {
            "type" : "string"
          },
          "displayInPlatformPicker" : {
            "type" : "boolean"
          },
          "displayName" : {
            "type" : "string"
          },
          "enablePlatformServices" : {
            "type" : "boolean"
          },
          "enforcePlatformPermissions" : {
            "type" : "boolean"
          },
          "id" : {
            "type" : "string"
          },
          "isProxy" : {
            "type" : "boolean"
          },
          "isTempPass" : {
            "type" : "boolean"
          },
          "logoUrl" : {
            "type" : "string"
          },
          "passiveAuthnEnabled" : {
            "type" : "boolean"
          },
          "platformMappingId" : {
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "UserMetadataResponse" : {
        "properties" : {
          "error" : {
            "enum" : [ "missing_authentication_code", "authentication_session_invalidated", "authentication_session_missing", "preauthorization_authentication_session_missing", "authentication_session_expired", "preauthorization_authentication_session_expired", "authentication_session_issuer_mismatch", "unknown_integration", "invalid_device_id", "invalid_requestor", "invalid_redirect_url", "invalid_session", "missing_dcr_application", "missing_resource", "missing_resources", "invalid_device_info", "authorization_not_found", "authorization_expired", "malformed_authz_request", "authorization_denied_by_mvpd", "authorization_denied_by_degradation_rule", "authorization_denied_by_degradation_configuration_change", "authorization_denied_by_parental_controls", "authorization_denied_by_session_invalidated", "authorization_denied_by_hba_policies", "identity_not_recognized_by_mvpd", "network_received_error", "invalid_refresh_token", "preauthorization_denied_by_mvpd", "too_many_resources", "invalid_decision_resources", "invalid_mvpd", "network_connection_timeout", "maximum_execution_time_exceeded", "internal_error", "invalid_certificate", "need_to_reauthenticate", "temppass_invalid_identity", "temppass_expired", "temppass_max_resources_exceeded", "temppass_invalid_configuration", "registered_app_mismatch", "invalid_platformid", "invalid_platformtrait", "invalid_platformcategory_trait", "invalid_platform_configuration", "disabled_platform_services", "invalid_mvpd_platform_settings", "unsupported_mvpd_boarding_status", "invalid_profile_exchange_configuration", "invalid_sso_partner", "invalid_sso_partner_saml_response", "degraded_integration", "framework_permissions_not_present", "framework_permissions_not_determined", "framework_permissions_not_granted", "framework_mappingid_not_determined", "framework_mappingid_mismatch" ],
            "type" : "string"
          },
          "state" : {
            "type" : "string"
          },
          "value" : {
            "properties" : { },
            "type" : "object"
          }
        },
        "type" : "object"
      },
      "Domain" : {
        "properties" : {
          "mvpdInitiated" : {
            "type" : "boolean"
          },
          "name" : {
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "SessionResponse" : {
        "description" : "Response object for session requests",
        "properties" : {
          "actionName" : {
            "description" : "The action that primary device need to perform in order to complete authentication flow.",
            "type" : "string"
          },
          "actionType" : {
            "description" : "The type of interaction the client application must perform in order to continue the flow with the action specified by the parameter \"actionName\".",
            "type" : "string"
          },
          "code" : {
            "description" : "The registration code that can be used on the secondary device to continue the authentication flow.",
            "type" : "string"
          },
          "missingParameters" : {
            "description" : "The missing parameters that need to be provided in order to complete the authentication flow.",
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "mvpd" : {
            "description" : "The id of the identity provider.",
            "type" : "string"
          },
          "serviceProvider" : {
            "description" : "The id of the service provider.",
            "type" : "string"
          },
          "sessionId" : {
            "description" : "The opaque identifier that can be used for tracking user activity.",
            "type" : "string"
          },
          "url" : {
            "description" : "The url where the application needs to navigate.",
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "MvpdProfileResponse" : {
        "description" : "Mvpd profile response",
        "properties" : {
          "attributes" : {
            "additionalProperties" : {
              "$ref" : "#/components/schemas/UserMetadataResponse"
            },
            "description" : "The list of user metadata attributes. These attributes can be mandatory (userId) or non-mandatory (the rest of the user metadata fields like zip, householdId, maxRating, etc.).",
            "type" : "object"
          },
          "issuer" : {
            "description" : "The entity that owns the authenticated profile.",
            "type" : "string"
          },
          "notAfter" : {
            "description" : "The maximum timestamp for the authentication profile time-to-live (ttl).",
            "format" : "int64",
            "type" : "integer"
          },
          "notBefore" : {
            "description" : "The minimum timestamp for the authentication profile time-to-live (ttl).",
            "format" : "int64",
            "type" : "integer"
          },
          "type" : {
            "description" : "The type of the authenticated profile.",
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "createSessionUsingPOST_request" : {
        "properties" : {
          "mvpd" : {
            "description" : "The MVPD identifier associated with the end-user's subscription.If device platform has limitations in providing a value, then the application will have to resume the authentication session later on and provide a valid value.",
            "type" : "string"
          },
          "domainName" : {
            "description" : "The originating domain of the application performing mvpd login.",
            "type" : "string"
          },
          "redirectUrl" : {
            "description" : "The url where the client application is redirected to when authentication is completed. The value must be URL encoded.",
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "retrieveVerificationTokenUsingPOST_1_request" : {
        "properties" : {
          "domainName" : {
            "description" : "The originating domain of the application performing mvpd login.",
            "type" : "string"
          },
          "redirectUrl" : {
            "description" : "The url where the client application is redirected to when authentication is completed. The value must be URL encoded.",
            "type" : "string"
          }
        },
        "required" : [ "domainName", "redirectUrl" ],
        "type" : "object"
      }
    }
  },
  "x-original-swagger-version" : "2.0"
}